<template>
  <div>
    <b-navbar toggleable="xl" type="dark" variant="dark">
      <b-navbar-brand>Medusa</b-navbar-brand>

      <b-navbar-toggle
        target="nav-collapse"
        variant="outline-success"
      ></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item @click="onClickEdit">Edit</b-nav-item>
          <b-nav-item-dropdown text="Print" right @click="onClickPrint">
            <b-dropdown-item @click="onClickInvoice">Invoice</b-dropdown-item>
            <b-dropdown-item @click="onClickShippingLabel"
              >Shippping Label</b-dropdown-item
            >
            <b-dropdown-item @click="onClickBarcode">Barcode</b-dropdown-item>
            <b-dropdown-item @click="onClickJUDILabel"
              >JUDI Label</b-dropdown-item
            >
          </b-nav-item-dropdown>
          <b-nav-item @click="onClickSendResponse">Send Response</b-nav-item>
          <b-nav-item @click="onClickProcessCC">Process CC</b-nav-item>
        </b-navbar-nav>

        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto" right>
          <b-form-input
            class="mr-sm-2"
            placeholder="Search"
            v-model="query"
            v-on:keyup="onHandleSearchKeys"
          ></b-form-input>
          <b-button
            variant="outline-cyan"
            class="my-2 my-sm-0"
            @click="onSearch"
            >Search</b-button
          >
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <SendResponse ref="sendresponse" />
    <PritnShipping ref="printshipping" />
  </div>
</template>

<script>
import SendResponse from './../../SendResponse'
import PritnShipping from './../../PrintShipping'

export default {
  name: 'Navbar',
  components: { SendResponse, PritnShipping },
  props: {},
  data () {
    return {
      query: '',
      serverURL: this.$apiUrls.root,
      seachedItems: []
    }
  },
  watch: {},
  methods: {
    onClickEdit (e) {
      let self = this
      const orders = self.$parent.getSelectedOrders()
      if (orders.length !== 0) {
        self.$router.push({
          name: 'editorder',
          params: { id: orders[0].id }
        })
      }
      e.target.blur()
    },
    onHandleSearchKeys (e) {
      let self = this
      if (e.keyCode === 13 && self.query !== '') {
        self.onSearch()
      } else if (self.query === '') {
        self.onSearch()
      }
    },
    onClickSendResponse (e) {
      let self = this
      e.target.blur()
      const orders = self.$parent.getSelectedOrders()
      self.$refs.sendresponse.isShow = true
      self.$refs.sendresponse.orders = orders
    },
    onClickProcessCC (e) {
      e.target.blur()
    },
    onClickInvoice (e) {
      let self = this
      e.target.blur()
      const orders = self.$parent.getSelectedOrders()
      let ids = ''
      orders.forEach((element, index) => {
        if (index !== 0) {
          ids += ':'
        }
        ids += element.id
      })
      this.$router.push('printinvoice/' + ids)
    },
    onClickShippingLabel (e) {
      let self = this
      e.target.blur()
      const orders = self.$parent.getSelectedOrders()
      self.$refs.printshipping.isShow = true
      self.$refs.printshipping.orders = orders
    },
    onClickBarcode (e) {
      e.target.blur()
    },
    onClickJUDILabel (e) {
      e.target.blur()
    },
    onClickPrint (e) {
      e.target.blur()
    },
    onSearch () {
      let self = this
      self.$parent.setQuery(self.query)
    }
  }
}
</script>

<style scoped>
.navbar-dark .navbar-nav .nav-link {
  color: #f1f2f4;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #f1f2f4 !important;
  transition: 0.1s ease;
}

.navbar-dark .navbar-nav .nav-link:focus {
  color: #f1f2f4 !important;
  transition: 0.1s ease;
}

@media (min-width: 1200px) and (max-width: 1320px) {
  .form-inline {
    display: none !important;
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: #252626;
  font-weight: 700;
}

.bg-dark {
  background-color: #b8b8b8 !important;
}

.my-2.my-sm-0 {
  color: #252626;
  border-color: #252626;
}

.btn-outline-success:hover {
  background-color: #252626;
}
</style>
