<template>
  <div>
    <b-table
      :items="items"
      :fields="fields"
      select-mode="multi"
      responsive="sm"
      ref="selectableTable"
      selectable
      thead-class="hidden_header"
      striped
      outlined
      hover="hover"
      :busy="isBusy"
      @row-selected="onRowSelected"
      show-empty
    >
      <template #empty="scope">
        <h6>{{ scope.emptyText }}</h6>
      </template>
      <template #table-colgroup="scope">
        <col
          v-for="field in scope.fields"
          :key="field.key"
          :style="{
            width: setWidth(field.key)
          }"
        />
      </template>
      <template #table-busy>
        <div class="text-center text-danger my-2">
          <b-spinner class="align-middle"></b-spinner>
          <strong>Loading...</strong>
        </div>
      </template>
      <template #head(selected)>
        <span></span>
      </template>
      <template #head(order_id)><span></span></template>
      <template #head(name)>
        <div class="control_panel">
          <span class="text-info">{{ tableName }}</span>
          <div>
            <span>{{ items.length == 0 ? 0 : current_page * 6 + 1 }}</span> -
            <span>{{ current_page * 6 + items.length }}</span> of
            <span>{{ total_count }}</span>
            <span class="left" @click="onClickLeft"
              ><font-awesome-icon icon="arrow-left"
            /></span>
            <span class="right" @click="onClickRight"
              ><font-awesome-icon icon="arrow-right"
            /></span>
          </div>
        </div>
      </template>
      <template #head(quote)><span></span></template>

      <template #cell(selected)="{ rowSelected }">
        <template v-if="rowSelected">
          <span aria-hidden="true" class="check-box-green">&check;</span>
        </template>
        <template v-else>
          <span aria-hidden="true" class="check-box">&#9744;</span>
        </template>
      </template>
      <template #cell(order_id)="data">
        <b-row>
          {{ data.item.id }}
        </b-row>
        <b-row class="warning-row">
          <img
            src="img/fraud-sign.png"
            class="mark"
            v-if="data.item.raw_dump.includes('FRAUD_CHECK_BLACK') === true"
          />
          <img
            src="img/star.png"
            class="mark"
            v-if="data.item.raw_dump.includes('STARRED') === true"
          />
          <img
            src="img/warning-sign.png"
            class="mark"
            v-if="
              data.item.paypal_number === null ||
                data.item.paypal_number.includes('CARD') === true
            "
          />
          <img
            src="img/blue-sign.png"
            class="mark"
            v-if="
              data.item.address_country_code === null ||
                data.item.address_country_code !== 'US' ||
                data.item.hold === 1
            "
          />
          <img
            src="img/orange-sign.png"
            class="mark"
            v-if="data.item.raw_dump.includes('FRAUDENT_ORANGE') === true"
          />
        </b-row>
      </template>
      <template #cell(name)="data">
        <b-row>
          <b-col
            md="8"
            v-bind:class="[
              data.item.saved_for_later === 1
                ? 'green order-name'
                : 'red order-name'
            ]"
          >
            <strong>{{ data.item.customer_name }}</strong>
          </b-col>
          <b-col md="4" class="order-date">
            <span>{{ data.item.modified }}</span>
          </b-col>
        </b-row>
        <b-row class="order-detail">
          <p
            v-bind:class="[
              (toggle == true && toggle_id == data.item.id) ||
              data.item.order_details.length < 100
                ? ''
                : 'detail-hide'
            ]"
          >
            {{ data.item.order_details }}
          </p>
          <b-button
            variant="light"
            size="sm"
            class="more"
            v-if="data.item.order_details.length > 100"
            @click="onToggle(data.item.id)"
            >{{
              toggle == true && toggle_id == data.item.id ? 'Less' : 'More'
            }}</b-button
          >
        </b-row>
      </template>
      <template #cell(quote)="data">
        <img
          src="img/comment.png"
          v-b-tooltip.hover
          v-bind:title="
            data.item.internal_notes == null ? '' : data.item.internal_notes
          "
          class="comment"
        />
      </template>
    </b-table>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'OrderTable',
  props: {
    tableName: String,
    serverURL: String
  },
  watch: {},
  data () {
    return {
      fields: ['selected', 'order_id', 'name', 'quote'],
      selected: [],
      toggle: false,
      toggle_id: '',
      items: [],
      current_page: 0,
      total_count: 0,
      total_page: 1,
      isBusy: false,
      query: ''
    }
  },
  mounted () {
    let self = this
    self.isBusy = true
    let formData = new FormData()
    formData.append('search', self.query === undefined ? '' : self.query)
    axios
      .post(self.serverURL, formData)
      .then(function (response) {
        if (response.data.status === 200) {
          self.items = response.data.data.data
          self.items.forEach((item, index) => {
            if (item.order_details == null) {
              self.items[index].order_details = ''
            }
          })
          self.current_page = response.data.data.current_page
          self.total_page = response.data.data.total_page
          self.total_count = response.data.data.total_count
        } else {
          self.log('/order/get -> post axios error')
        }
        self.isBusy = false
      })
      .catch(function () {
        self.isBusy = false
      })
  },
  methods: {
    onRowSelected (items) {
      this.selected = items
    },
    onReload (query) {
      let self = this
      if (query === '') {
        self.query = ''
        self.items = []
        self.current_page = 0
        self.total_count = 0
        self.total_page = 1
      } else {
        self.query = query
        self.isBusy = true
        let formData = new FormData()
        formData.append('search', self.query)
        axios
          .post(self.serverURL, formData)
          .then(function (response) {
            if (response.data.status === 200) {
              self.items = response.data.data.data
              self.items.forEach((item, index) => {
                if (item.order_details == null) {
                  self.items[index].order_details = ''
                }
              })
              self.current_page = response.data.data.current_page
              self.total_page = response.data.data.total_page
              self.total_count = response.data.data.total_count
            } else {
              self.log('/order/get -> post axios error')
            }
            self.isBusy = false
          })
          .catch(function () {
            self.isBusy = false
          })
      }
    },
    onToggle (id) {
      let self = this
      if (id === self.toggle_id) {
        self.toggle = !self.toggle
      } else {
        self.toggle = true
        self.toggle_id = id
      }
    },
    onClickLeft () {
      let self = this
      self.isBusy = true
      if (self.current_page !== 0) {
        let formData = new FormData()
        formData.append('search', self.query)
        formData.append('current_page', self.current_page - 1)
        axios
          .post(self.serverURL, formData)
          .then(function (response) {
            if (response.data.status === 200) {
              self.items = response.data.data.data
              self.items.forEach((item, index) => {
                if (item.order_details == null) {
                  self.items[index].order_details = ''
                }
              })
              self.current_page = response.data.data.current_page
              self.total_page = response.data.data.total_page
              self.total_count = response.data.data.total_count
            } else {
              self.log('/order/get -> post axios error')
            }
            self.isBusy = false
          })
          .catch(function () {
            self.isBusy = false
          })
      } else {
        self.isBusy = false
      }
    },
    onClickRight () {
      let self = this
      self.isBusy = true
      if (self.current_page + 1 !== self.total_page) {
        let formData = new FormData()
        formData.append('search', self.query)
        formData.append('current_page', self.current_page + 1)
        axios
          .post(self.serverURL, formData)
          .then(function (response) {
            if (response.data.status === 200) {
              self.items = response.data.data.data
              self.items.forEach((item, index) => {
                if (item.order_details == null) {
                  self.items[index].order_details = ''
                }
              })
              self.current_page = response.data.data.current_page
              self.total_page = response.data.data.total_page
              self.total_count = response.data.data.total_count
            } else {
              self.log('/order/get -> post axios error')
            }
            self.isBusy = false
          })
          .catch(function () {
            self.isBusy = false
          })
      } else {
        self.isBusy = false
      }
    },
    setWidth (key) {
      if (key === 'selected') {
        return '10%'
      } else if (key === 'order_id') {
        return '20%'
      } else if (key === 'name') {
        return '60%'
      } else {
        return '10%'
      }
    }
  },
  created () {}
}
</script>
<style scoped>
.text-info {
  margin-left: -50%;
  color: #212529 !important;
}

.order-name {
  padding: 0;
  float: left;
}

.order-date {
  padding: 0;
  float: right;
}

.check-box {
  width: 100%;
  display: block;
  margin-top: 1rem;
  margin-left: 1rem;
}

.check-box-green {
  width: 100%;
  display: block;
  margin-top: 1rem;
  margin-left: 1rem;
  font-weight: bold;
  color: green;
}

::v-deep .table > thead {
  background: rgb(206 206 206);
}

::v-deep .table > tbody > tr.b-table-row-selected,
::v-deep .table > tbody > tr.b-table-row-selected > td,
::v-deep .table > tbody > tr.b-table-row-selected > th {
  background-color: rgb(225 223 223);
}

::v-deep .table td {
  padding-bottom: 2px;
}

.bold {
  font-weight: 700;
}

.mark {
  width: 30px;
  height: 25px;
  background: transparent;
  padding: 0px;
}

.order-date span {
  float: right;
}

.detail-hide {
  width: 80%;
  height: 32px;
  overflow: hidden;
  padding-top: 10px;
}

.more {
  margin-bottom: 9px;
  margin-top: 9px;
}

.order-detail {
  min-height: 40px;
}

.comment {
  width: 30px;
  height: 30px;
  display: block;
  float: right;
  margin-top: 12px;
}

.comment:hover {
  width: 33px;
  height: 33px;
  transition: 0.2s easy;
}

.control_panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  margin-left: 1rem;
  margin-right: 0.5rem;
}

.left:hover {
  color: #a33232;
  transition: 0.3s easy;
  cursor: pointer;
}

.right:hover {
  color: #a33232;
  transition: 0.3s easy;
  cursor: pointer;
}

.align-middle {
  margin-right: 1rem;
  color: grey;
}

.text-danger.my-2 strong {
  color: grey;
}

.warning-row {
  margin-top: 0.5rem;
}

.green {
  color: green;
}

.red {
  color: red;
}
</style>
