<template>
  <div>
    <div class="head-bar">
      <h2 class="title">New Dealer Order</h2>
      <b-button
        variant="outline-primary"
        class="my-2"
        @click="$router.push('/')"
        >Go Home</b-button
      >
    </div>
    <div class="text-center" v-if="formBusy">
      <b-spinner variant="primary" label="Text Centered"></b-spinner>
    </div>
    <form @submit.prevent="handleSubmit" v-if="!formBusy">
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group dealer">
            <label for="state">Dealer</label>
            <b-form-select
              v-model="dealer"
              name="dealer"
              id="dealer"
              :options="dealerOptions"
            ></b-form-select>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input
              type="text"
              v-model="user.firstName"
              id="firstName"
              name="firstName"
              class="form-control"
              :class="{
                'is-invalid': submitted && $v.user.firstName.$error
              }"
            />
            <div
              v-if="submitted && !$v.user.firstName.required"
              class="invalid-feedback"
            >
              First Name is required
            </div>
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input
              type="text"
              v-model="user.lastName"
              id="lastName"
              name="lastName"
              class="form-control"
              :class="{
                'is-invalid': submitted && $v.user.lastName.$error
              }"
            />
            <div
              v-if="submitted && !$v.user.lastName.required"
              class="invalid-feedback"
            >
              Last Name is required
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              v-model="user.email"
              id="email"
              name="email"
              class="form-control"
              :class="{
                'is-invalid': submitted && $v.user.email.$error
              }"
            />
            <div
              v-if="submitted && $v.user.email.$error"
              class="invalid-feedback"
            >
              <span v-if="!$v.user.email.required">Email is required</span>
              <span v-if="!$v.user.email.email">Email is invalid</span>
            </div>
          </div>
          <div class="form-group">
            <label for="phone">Phone number</label>
            <input
              type="text"
              v-model="user.phone"
              id="phone"
              name="phone"
              class="form-control"
              @input="acceptNumber"
              :class="{
                'is-invalid': submitted && $v.user.phone.$error
              }"
            />
            <div
              v-if="submitted && !$v.user.phone.required"
              class="invalid-feedback"
            >
              Phone Number is required
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="firstName">Street</label>
            <input
              type="text"
              v-model="user.street"
              id="street"
              name="street"
              class="form-control"
              :class="{
                'is-invalid': submitted && $v.user.street.$error
              }"
            />
            <div
              v-if="submitted && !$v.user.street.required"
              class="invalid-feedback"
            >
              Street is required
            </div>
          </div>
          <div class="form-group">
            <label for="firstName">City</label>
            <input
              type="text"
              v-model="user.city"
              id="city"
              name="city"
              class="form-control"
              :class="{
                'is-invalid': submitted && $v.user.city.$error
              }"
            />
            <div
              v-if="submitted && !$v.user.city.required"
              class="invalid-feedback"
            >
              City is required
            </div>
          </div>
          <div class="form-group">
            <label for="state">state</label>
            <b-form-select
              v-model="user.state"
              name="state"
              id="state"
              :options="stateOptions"
              :class="{
                'is-invalid': submitted && $v.user.state.$error
              }"
            ></b-form-select>
            <div
              v-if="submitted && !$v.user.state.required"
              class="invalid-feedback"
            >
              state is required
            </div>
          </div>
          <div class="form-group">
            <label for="firstName">Zipcode</label>
            <input
              type="text"
              v-model="user.zipcode"
              id="zipcode"
              name="zipcode"
              class="form-control"
              :class="{
                'is-invalid': submitted && $v.user.zipcode.$error
              }"
            />
            <div
              v-if="submitted && !$v.user.zipcode.required"
              class="invalid-feedback"
            >
              Zipcode is required
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="form-group">
            <label for="firstName">Notes</label>
            <b-form-textarea
              id="textarea"
              v-model="user.notes"
              placeholder="Enter something..."
              rows="3"
              max-rows="6"
            ></b-form-textarea>
          </div>
          <button class="btn btn-primary hide" ref="register">
            Register
          </button>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import { required, email } from 'vuelidate/lib/validators'
import axios from 'axios'

export default {
  name: 'NewOrderForm',
  data () {
    return {
      user: {
        firstName: '',
        lastName: '',
        email: '',
        phone: '',
        street: '',
        state: '',
        city: '',
        zipcode: '',
        country: '',
        notes: ''
      },
      serverURL: this.$apiUrls.root,
      submitted: false,
      formBusy: false,
      dealer: '',
      dealerOptions: [],
      stateOptions: [
        { value: null, text: 'Please select an option' },
        { text: 'Alabama', value: 'AL' },
        { text: 'Alaska', value: 'AK' },
        { text: 'Arizona', value: 'AZ' },
        { text: 'Arkansas', value: 'AR' },
        { text: 'California', value: 'CA' },
        { text: 'Colorado', value: 'CO' },
        { text: 'Connecticut', value: 'CT' },
        { text: 'Delaware', value: 'DE' },
        { text: 'District of Columbia', value: 'DC' },
        { text: 'Florida', value: 'FL' },
        { text: 'Georgia', value: 'GA' },
        { text: 'Hawaii', value: 'HI' },
        { text: 'Idaho', value: 'ID' },
        { text: 'Illinois', value: 'IL' },
        { text: 'Indiana', value: 'IN' },
        { text: 'Iowa', value: 'IA' },
        { text: 'Kansas', value: 'KS' },
        { text: 'Kentucky', value: 'KY' },
        { text: 'Louisiana', value: 'LA' },
        { text: 'Maine', value: 'ME' },
        { text: 'Maryland', value: 'MD' },
        { text: 'Massachusetts', value: 'MA' },
        { text: 'Michigan', value: 'MI' },
        { text: 'Minnesota', value: 'MN' },
        { text: 'Mississippi', value: 'MS' },
        { text: 'Missouri', value: 'MO' },
        { text: 'Montana', value: 'MT' },
        { text: 'Nebraska', value: 'NE' },
        { text: 'Nevada', value: 'NV' },
        { text: 'New Hampshire', value: 'NH' },
        { text: 'New Jersey', value: 'NJ' },
        { text: 'New Mexico', value: 'NM' },
        { text: 'New York', value: 'NY' },
        { text: 'North Carolina', value: 'NC' },
        { text: 'North Dakota', value: 'ND' },
        { text: 'Ohio', value: 'OH' },
        { text: 'Oklahoma', value: 'OK' },
        { text: 'Oregon', value: 'OR' },
        { text: 'Pennsylvania', value: 'PA' },
        { text: 'Rhode Island', value: 'RI' },
        { text: 'South Carolina', value: 'SC' },
        { text: 'South Dakota', value: 'SD' },
        { text: 'Tennessee', value: 'TN' },
        { text: 'Texas', value: 'TX' },
        { text: 'Utah', value: 'UT' },
        { text: 'Vermont', value: 'VT' },
        { text: 'Virginia', value: 'VA' },
        { text: 'Washington', value: 'WA' },
        { text: 'West Virginia', value: 'WV' },
        { text: 'Wisconsin', value: 'WI' },
        { text: 'Wyoming', value: 'WY' },
        { text: 'Alberta', value: 'AB' },
        { text: 'British Columbia', value: 'BC' },
        { text: 'Manitoba', value: 'MB' },
        { text: 'New Brunswick', value: 'NB' },
        { text: 'Newfoundland and Labrador', value: 'NL' },
        { text: 'Northwest Territories', value: 'NT' },
        { text: 'Nova Scotia', value: 'NS' },
        { text: 'Nunavut', value: 'NU' },
        { text: 'Ontario', value: 'ON' },
        { text: 'Prince Edward Island', value: 'PE' },
        { text: 'Québec', value: 'QC' },
        { text: 'Saskatchewan', value: 'SK' },
        { text: 'Yukon', value: 'YT' }
      ]
    }
  },
  watch: {
    dealer () {
      let self = this
      self.user.firstName = self.dealer.name.split(' ')[0]
      self.user.lastName = self.dealer.name.split(' ')[1]
      self.user.email = self.dealer.email
      self.user.phone = self.dealer.phone
      self.user.street = self.dealer.address_street
      self.user.state = self.dealer.address_state
      self.user.city = self.dealer.address_city
      self.user.zipcode = self.dealer.address_zip
      self.user.country = self.dealer.address_country
    }
  },
  mounted () {
    let self = this
    self.formBusy = true
    axios
      .post(self.serverURL + '/get/dealer')
      .then(function (response) {
        if (response.data.status === 200) {
          self.dealerOptions = response.data.data
        }
        self.formBusy = false
      })
      .catch(function () {
        self.formBusy = false
      })
  },
  validations: {
    user: {
      firstName: { required },
      lastName: { required },
      email: { required, email },
      phone: { required },
      street: { required },
      city: { required },
      zipcode: { required },
      state: { required }
    }
  },
  methods: {
    handleSubmit (e) {
      let self = this
      this.submitted = true

      // stop here if form is invalid
      this.$v.$touch()
      if (this.$v.$invalid) {
        return
      }

      const items = this.$parent.getItems()
      const finance = this.$parent.getFinance()

      const formData = new FormData()

      formData.append('order', JSON.stringify(this.user))
      formData.append('finance', JSON.stringify(finance))
      formData.append('items', JSON.stringify({ item: items }))
      axios
        .post(this.serverURL + '/insert/dealer/order', formData, {
          headers: {
            'Content-Type': 'multipart/form-data'
          }
        })
        .then(function (response) {
          if (response.data.status === 200) {
            self.$bvToast.toast('Successfully inserted the new order.', {
              title: 'Success',
              autoHideDelay: 3000,
              variant: 'Success',
              appendToast: false
            })
            self.$router.push('/')
          } else {
            self.$bvToast.toast('Failed to insert the new order.', {
              title: 'Warning',
              autoHideDelay: 3000,
              variant: 'warning',
              appendToast: false
            })
          }
        })
        .catch(function () {
          self.$bvToast.toast(
            'Failed to insert the new order. Something went wrong',
            {
              title: 'Warning',
              autoHideDelay: 3000,
              variant: 'warning',
              appendToast: false
            }
          )
        })
    },
    acceptNumber () {
      var x = this.user.phone
        .replace(/\D/g, '')
        .match(/(\d{0,3})(\d{0,3})(\d{0,4})/)
      this.user.phone = !x[2]
        ? x[1]
        : x[1] + '-' + x[2] + (x[3] ? '-' + x[3] : '')
    }
  }
}
</script>
<style scoped>
.dealer {
  width: 48.5%;
}

.hide {
  display: none;
}

.title {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.head-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
</style>
