<template>
  <div class="home">
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <NewOrderForm ref="editorderform" />
            <AddItemForm ref="additemform" />
            <SearchItems />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import NewOrderForm from '../components/editorder/NewOrderForm'
import AddItemForm from '../components/editorder/AddItemForm'
import SearchItems from '../components/editorder/SearchItems'
import axios from 'axios'

export default {
  name: 'EditOrder',
  components: { NewOrderForm, AddItemForm, SearchItems },
  data () {
    return {
      discount: 0,
      serverURL: this.$apiUrls.root
    }
  },
  watch: {},
  mounted () {
    let self = this
    const orderId = this.$route.params.id
    let formData = new FormData()
    formData.append('order_id', orderId)
    axios
      .post(this.serverURL + '/get/order/full', formData)
      .then(function (response) {
        if (response.data.status === 200) {
          const order = response.data.data.order[0]
          self.$refs.editorderform.user.id = orderId
          self.$refs.editorderform.user.firstName = order.customer_name.split(
            ' '
          )[0]
          self.$refs.editorderform.user.lastName = order.customer_name.split(
            ' '
          )[1]
          self.$refs.editorderform.user.email = order.customer_email
          self.$refs.editorderform.user.phone = order.contact_phone
          self.$refs.editorderform.user.street = order.address_street
          self.$refs.editorderform.user.state = order.address_state
          self.$refs.editorderform.user.city = order.address_city
          self.$refs.editorderform.user.zipcode = order.address_zip
          self.$refs.editorderform.user.country = order.address_country_code
          self.$refs.editorderform.user.notes = order.internal_notes
          self.$refs.editorderform.user.status = order.status
          self.$refs.editorderform.user.tracking = order.tracking_number
          self.$refs.editorderform.user.timestamp = order.timestamp.replace(
            'T',
            ' '
          )
          self.$refs.editorderform.user.modified = order.modified.replace(
            'T',
            ' '
          )
          self.$refs.editorderform.user.hold = order.hold
          self.$refs.editorderform.user.exists_in_database =
            order.exists_in_database
          self.$refs.editorderform.user.isDealer = order.isDealer
          self.$refs.editorderform.user.raw_dump = order.raw_dump
          self.$refs.editorderform.user.saved_for_later = order.saved_for_later
          self.$refs.editorderform.user.orderNumbers = order.orderNumbers
          self.$refs.editorderform.user.order_details = order.order_details
          self.$refs.editorderform.user.judi_packed = order.judi_packed
          self.$refs.editorderform.user.paypal_number = order.paypal_number
          self.$refs.editorderform.user.id = order.id

          const items = response.data.data.items
          items.forEach(item => {
            self.$refs.additemform.selectedItems.push({
              SKU: item.part_number,
              Description: item.part_description,
              Qty: item.qty,
              Price: item.price,
              Subtotal: item.price * item.qty,
              Action: '',
              ParentSKU: item.parent_price_id,
              childIds: [],
              dealerDiscount: item.dealer_discount,
              pulled: item.pulled,
              laser_received: item.laser_received,
              lasered: item.lasered,
              finished: item.finished
            })
          })

          self.$refs.additemform.selectedItems.forEach(item => {
            if (item.ParentSKU !== '') {
              self.$refs.additemform.selectedItems.forEach((search, index) => {
                if (search.SKU === item.ParentSKU) {
                  self.$refs.additemform.selectedItems[index].childIds.push(
                    item.SKU
                  )
                }
              })
            }
          })

          self.discount = response.data.data.discount
          self.$refs.additemform.dealerDiscount = response.data.data.discount
        }
      })
      .catch(function () {})
  },
  methods: {

    getDiscount () {
      let self = this
      return self.$refs.editorderform.discount === undefined
        ? 0
        : self.$refs.editorderform.discount
    },
    setDiscount (mode) {
      let self = this
      if (mode === '0') {
        self.$refs.additemform.dealerDiscount = 0
      } else {
        self.$refs.additemform.dealerDiscount = self.discount
      }
    },
    getItems () {
      let self = this
      return self.$refs.additemform.getItems()
    },
    getSelectedItems () {
      let self = this
      return self.$refs.additemform.selectedItems
    },
    getFinance () {
      let self = this
      return self.$refs.additemform.getFinance()
    },
    pushSelectedItems (index, type, data, qty = 1) {
      let self = this
      if (type === 0) {
        self.$refs.additemform.selectedItems.push(data)
      } else if (type === 1) {
        self.$refs.additemform.selectedItems[index].Qty += qty
      } else if (type === 2) {
        self.$refs.additemform.selectedItems[index].childIds.push(data)
      } else if (type === 3) {
      }
    }
  }
}
</script>
<style scoped>
.home {
  color: black;
  padding-top: 1rem;
  width: 100%;
  padding-left: 7%;
  padding-right: 7%;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
}

@media (min-width: 576px) {
  .jumbotron {
    padding: 3rem 4rem 7rem 4rem;
    width: 1200px;
  }
}

.register {
  margin-top: 2rem;
}
</style>
