<template>
  <div class="home">
    <div
      class="editor-row"
      v-bind:style="{
        gridTemplateColumns: '270px 1fr'
      }"
    >
      <ControlPanel />
      <MainWindow />
    </div>
  </div>
</template>

<script>
import ControlPanel from '../components/home/ControlPanel'
import MainWindow from '../components/home/MainWindow'

export default {
  name: 'home',
  components: { ControlPanel, MainWindow },
  data: () => ({}),
  methods: {}
}
</script>
<style scoped>
.home {
  color: black;
  padding-top: 1rem;
  width: 100%;
  padding-left: 7%;
  padding-right: 7%;
  padding-bottom: 1rem;
}

.editor-row {
  display: grid;
  grid-template-columns: 270px 1fr;
  position: relative;
  background-color: white;
}
</style>
