<template>
  <div class="home">
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <NewOrderForm ref="neworderform" />
            <AddItemForm ref="additemform" />
            <SearchItems />
            <button class="btn btn-primary register" @click="doHandleRegister">
              Register
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import NewOrderForm from '../components/neworder/NewOrderForm'
import AddItemForm from '../components/neworder/AddItemForm'
import SearchItems from '../components/neworder/SearchItems'

export default {
  name: 'NewOrder',
  components: { NewOrderForm, AddItemForm, SearchItems },
  data () {
    return {}
  },
  watch: {},
  mounted () {},
  methods: {
    doHandleRegister () {
      let self = this
      self.$refs.neworderform.$refs.register.click()
    },
    getDiscount () {
      let self = this
      return self.$refs.neworderform.dealer.discount === undefined
        ? 0
        : self.$refs.neworderform.dealer.discount
    },
    getItems () {
      let self = this
      return self.$refs.additemform.getItems()
    },
    getFinance () {
      let self = this
      return self.$refs.additemform.getFinance()
    },
    getSelectedItems () {
      let self = this
      return self.$refs.additemform.selectedItems
    },
    pushSelectedItems (index, type, data) {
      let self = this
      if (type === 0) {
        self.$refs.additemform.selectedItems.push(data)
      } else if (type === 1) {
        self.$refs.additemform.selectedItems[index].Qty += 1
      } else if (type === 2) {
        self.$refs.additemform.selectedItems[index].childIds.push(data)
      } else if (type === 3) {
      }
    }
  }
}
</script>
<style scoped>
.home {
  color: black;
  padding-top: 1rem;
  width: 100%;
  padding-left: 7%;
  padding-right: 7%;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
}

@media (min-width: 576px) {
  .jumbotron {
    padding: 3rem 4rem 7rem 4rem;
    width: 1200px;
  }
}

.register {
  margin-top: 2rem;
}
</style>
