<template>
  <div>
    <div v-for="(orderId, indx) in orders" :key="indx">
      <Invoice :orderId="orderId" class="invoice" />
    </div>
  </div>
</template>

<script>
import Invoice from '../components/Invoice'

export default {
  name: 'PrintInvoice',
  components: { Invoice },
  data () {
    return {
      orders: []
    }
  },
  watch: {},
  mounted () {
    let self = this
    const orders = this.$route.params.ids
    self.orders = orders.split(':')
    document.body.style.backgroundColor = 'white'
    document.body.style.margin = '8px'
    document.body.style.fontFamily = 'Helvetica, Sans'
  },
  methods: {}
}
</script>
<style scoped>
.invoice {
  margin-bottom: 1rem;
}
</style>
