<template>
  <div>
    <div class="guide">
      <h3>Guide</h3>
      S = Shipping this week <br />
      OR = Out of Stock with ask about replacement <br />
      ONR = Out of Stock with no replacements available. Willing to wait time?
      <br />
      RE = Refund<br /><br />
    </div>
    <table class="table-content">
      <tr style="text-align: left;">
        <th>Name</th>
        <th>Status</th>
        <th>Order Details</th>
        <th>Date</th>
      </tr>
      <tr v-for="(order, indx) in orders" :key="indx">
        <td style="border:1px solid black;padding:5px" width="20%">
          <b>{{ order.customer_name }} </b><br />{{ order.customer_email }}
          <div style="width:100%;text-align:right;">({{ order.id }})</div>
        </td>
        <td
          style="border:1px solid black;padding:5px;"
          valign="bottom"
          width="10%"
        >
          {{
            order.address_country_code != 'US' &&
            order.address_country_code != '' &&
            order.address_country_code != 'USA'
              ? 'OUT OF COUNTRY'
              : ''
          }}
        </td>
        <td style="border:1px solid black;padding: 5px">
          {{ order.order_details }}
        </td>
        <td style="border:1px solid black;padding:5px" width="15%">
          {{ order.modified }}
        </td>
      </tr>
    </table>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'PrintNewRetails',
  components: {},
  data () {
    return {
      orders: [],
      isBusy: false,
      serverURL: this.$apiUrls.root
    }
  },
  watch: {},
  mounted () {
    let self = this
    document.body.style.backgroundColor = 'white'
    document.body.style.margin = '8px'
    document.body.style.fontFamily = 'Helvetica, Sans'
    self.isBusy = true
    axios
      .post(self.serverURL + '/order/all/newretail')
      .then(function (response) {
        if (response.data.status === 200) {
          self.orders = response.data.data
          console.log('orders', self.orders)
        } else {
          self.orders = []
        }
        self.isBusy = false
      })
      .catch(function () {
        self.isBusy = false
      })
  },
  methods: {}
}
</script>
<style scoped>
h2 {
  text-transform: uppercase !important;
  line-height: unset;
  margin-bottom: unset;
  margin-top: 19.92px;
  font-weight: bold;
  font-size: 1.5rem;
}

h3 {
  line-height: unset;
  margin-top: 18.72px;
  font-weight: bold;
  font-size: 1.1rem;
}

.guide {
  border: 1px solid black;
  font-size: 15px;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.table-content {
  border: 1px solid black;
  width: 100%;
}
</style>
