<template>
  <div class="left-panel">
    <b-row>
      <img src="/img/medusa.jpg" />
    </b-row>
    <b-row>
      <h3 class="margin-left">Navigation Links</h3>
    </b-row>
    <b-row>
      <b-navbar-nav class="margin-left">
        <b-nav-item href="" @click="routerGo('/neworder')"
          >Add Order Form</b-nav-item
        >
        <b-nav-item @click="routerGo('/print/new/retails')"
          >Print New Retail Orders</b-nav-item
        >
      </b-navbar-nav>
    </b-row>
    <b-row class="out-link">
      <b-navbar-nav>
        <b-nav-item href="https://atlas.com/" target="_blank"
          ><img src="/img/atlas-menu.png"
        /></b-nav-item>
        <b-nav-item href="https://www.paypal.com/" target="_blank"
          ><img src="/img/paypal-menu.png"
        /></b-nav-item>
        <b-nav-item href="https://www.stamps.com/" target="_blank"
          ><img src="/img/stamps.com-menu.png"
        /></b-nav-item>
      </b-navbar-nav>
    </b-row>
    <b-row class="hr"><b-row></b-row></b-row>
    <b-row>
      <h6>Weekly Total</h6>
      <b-collapse id="toggle-detail">
        <span>{{ weeklyPrice.shipped }}</span>
      </b-collapse>
    </b-row>
    <b-row class="progressbar">
      <b-progress :max="100" class="weekly-prog" :animated="true" height="2rem">
        <b-progress-bar
          :value="weeklyPrice.percent"
          :variant="weeklyPrice.color"
          striped
        >
        </b-progress-bar>
      </b-progress>
      <span class="label">$ {{ weeklyPrice.label }}</span>
    </b-row>
    <b-row class="detail-price">
      <b-col sm="4" md="4">
        <span class="detail-label">OPEN</span>
        <span class="detail-common">$ {{ weeklyPrice.open }}</span>
      </b-col>
      <b-col sm="4" md="4">
        <span class="detail-label">SHIPPED</span>
        <span class="detail-common">$ {{ weeklyPrice.shipped }}</span>
      </b-col>
      <b-col sm="4" md="4">
        <span class="detail-label">RETURNS</span>
        <span
          :class="[
            'detail-common',
            weeklyPrice.return * 10 > weeklyPrice.label ? 'danger' : 'green'
          ]"
          >$ {{ weeklyPrice.return }}</span
        >
      </b-col>
    </b-row>
    <b-row class="toggle-btn"
      ><b-button v-b-toggle.toggle-detail size="sm" variant="outline-primary"
        >Toggle Detail</b-button
      ></b-row
    >
    <b-row class="hr"><b-row></b-row></b-row>
    <b-row class="ship">
      <h4>Do not ship</h4>
      <b-navbar-nav>
        <b-nav-item v-for="(black, i) in weeklyPrice.blacklist" :key="i">{{
          black
        }}</b-nav-item>
      </b-navbar-nav>
    </b-row>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'ControlPanel',
  props: {},
  data () {
    return {
      backendServerIP: this.$apiUrls.root,
      weeklyPrice: {
        color: 'darkred',
        open: '$1k',
        percent: '0.0',
        label: '0.0',
        return: '$232',
        shipped: '0',
        blacklist: []
      }
    }
  },
  watch: {},
  mounted () {
    let self = this
    axios
      .post(self.backendServerIP + '/get/weekly')
      .then(function (response) {
        if (response.data.data.result === 'success') {
          self.weeklyPrice = response.data.data.data
          self.weeklyPrice.percent = response.data.data.data.percent * 100
        } else {
          self.log('post axios error')
        }
      })
      .catch(function () {})
  },
  methods: {
    routerGo (url) {
      this.$router.push(url)
    }
  }
}
</script>

<style scoped>
.left-panel {
  border: 1px solid black;
  padding: 3px;
  background-color: white;
}

.left-panel .row {
  justify-content: center;
}

.right-panel {
  border: 1px solid black;
  padding: 3px;
  background-color: white;
}

.row h3 {
  margin-left: -5rem;
  font-family: initial;
  font-weight: 600;
  font-size: 21px;
  text-decoration: underline;
  margin-top: 2rem;
}

.row .navbar-nav {
  margin-top: 1.5rem;
  margin-left: -4rem;
}

.row .navbar-nav a {
  color: black;
}

.row .navbar-nav a:hover {
  color: #0056b3;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
}

.nav-link {
  display: block;
  padding: 0rem 1rem;
}

.out-link .navbar-nav {
  padding-left: 6.4rem;
}

.out-link img {
  width: 55%;
  padding: 5px 0px;
}

.hr {
  padding: 1rem 2rem 1rem 2rem;
}

.hr .row {
  background: grey;
  padding: 0.6px;
  width: 100%;
}

.weekly-prog {
  width: 80%;
}

.progressbar {
  position: relative;
}

.label {
  position: absolute;
  bottom: 4px;
  font-weight: 600;
}

.detail-price {
  margin-top: 1rem;
  padding: 0rem 2rem 0rem 2rem;
}

.detail-price .col-md-4 {
  text-align: center;
  background: #ebebe6;
  padding: 0px;
  border: 1px solid black;
}

.detail-price .col-md-4:nth-child(2) {
  border-left-width: 0px;
  border-right-width: 0px;
}

.green {
  color: darkgreen;
}

.danger {
  color: red;
}

.detail-label {
  display: block;
  font-size: 10pt;
  margin-bottom: 0.9rem;
}

.detail-common {
  font-weight: 600;
  display: block;
  margin-bottom: 0.4rem;
}

.gone {
  display: none;
}

.left-panel h6 {
  text-align: center;
  width: 100%;
}

.toggle-btn {
  padding-top: 1rem;
}

.ship h4 {
  height: 1p;
  margin-top: 0px;
  margin-left: -4rem;
  font-size: 18px;
  text-decoration: none;
  font-weight: 600;
  font-family: initial;
}

.ship a {
  font-size: 15px;
  margin-left: 2rem;
}
</style>
