<template>
  <div class="panel">
    <Navbar class="navbar-menu" ref="navbar" />
    <OrderTable
      tableName="Search Result"
      ref="search_result"
      :serverURL="serverURLs.search_order_list"
      v-bind:class="[search ? 'push-up' : 'push-up hide']"
    />
    <OrderTable
      tableName="PROBLEM ORDERS"
      ref="problem_order_list"
      :serverURL="serverURLs.problem_order_list"
      class="push-up"
      v-if="!search"
    />
    <OrderTable
      tableName="NEW RETAIL ORDERS"
      ref="new_retail_order_list"
      :serverURL="serverURLs.new_retail_order_list"
      v-if="!search"
    />
    <OrderTable
      tableName="NEW DEALER ORDERS"
      ref="new_dealer_order_list"
      :serverURL="serverURLs.new_dealer_order_list"
      v-if="!search"
    />
    <OrderTable
      tableName="DEALER BACKORDERS"
      ref="dealer_back_order_list"
      :serverURL="serverURLs.dealer_back_order_list"
      v-if="!search"
    />
    <OrderTable
      tableName="RETAIL BACKORDERS"
      ref="retail_back_order_list"
      :serverURL="serverURLs.retail_back_order_list"
      v-if="!search"
    />
    <OrderTable
      tableName="DONATIONS/SAMPLES"
      ref="donation_order_list"
      :serverURL="serverURLs.donation_order_list"
      v-if="!search"
    />
    <OrderTable
      tableName="RETURNS"
      ref="return_order_list"
      :serverURL="serverURLs.return_order_list"
      v-if="!search"
    />
  </div>
</template>

<script>
import Navbar from './mainwindow/Navbar'
import OrderTable from './mainwindow/OrderTable'

export default {
  name: 'MainWindow',
  components: { Navbar, OrderTable },
  props: {},
  data () {
    return {
      backendServerIP: this.$apiUrls.root,
      serverURLs: {
        search_order_list: this.$apiUrls.root + '/order/search',
        problem_order_list: this.$apiUrls.root + '/order/get/problem',
        new_retail_order_list: this.$apiUrls.root + '/order/get/newretail',
        new_dealer_order_list: this.$apiUrls.root + '/order/get/newdealer',
        dealer_back_order_list: this.$apiUrls.root + '/order/get/dealerback',
        retail_back_order_list: this.$apiUrls.root + '/order/get/retailback',
        donation_order_list: this.$apiUrls.root + '/order/get/donation',
        return_order_list: this.$apiUrls.root + '/order/get/return'
      },
      query: '',
      search: false
    }
  },
  watch: {},
  mounted () {},
  methods: {

    getSelectedOrders () {
      let self = this
      let retval = []

      retval = retval.concat(self.$refs.problem_order_list.selected)
      retval = retval.concat(self.$refs.new_retail_order_list.selected)
      retval = retval.concat(self.$refs.new_dealer_order_list.selected)
      retval = retval.concat(self.$refs.dealer_back_order_list.selected)
      retval = retval.concat(self.$refs.retail_back_order_list.selected)
      retval = retval.concat(self.$refs.donation_order_list.selected)
      retval = retval.concat(self.$refs.return_order_list.selected)

      return retval
    },
    setQuery () {
      let self = this
      const query = self.$refs.navbar.query
      if (query === '') {
        self.search = false
      } else {
        self.search = true
        self.$refs.search_result.onReload(query)
      }
    }
  }
}
</script>

<style scoped>
.panel {
  border: 1px solid black;
  border-left-width: 0px;
  padding: 3px 2rem 3px 2rem;
  background-color: white;
  position: relative;
}

.panel .row {
  justify-content: center;
}

.navbar-menu {
  position: fixed;
  width: calc(86% - 4rem - 270px);
  top: 36px;
  left: calc(7% + 270px + 2rem);
  z-index: 999;
}

.push-up {
  margin-top: 6rem;
}

.hide {
  display: none;
}
</style>
