<template>
  <div class="invoice">
    <img
      class="header"
      src="/img/header.png"
      alt="Altamont Company 116 E Neal St. Rantoul IL, 61866"
    />
    <h2>THANK YOU FOR YOUR ORDER</h2>
    <div class="header">
      {{ order.customer_name }}
      <br />
      {{ order.address_street }}
      <br />
      {{ order.address_city }}, {{ order.address_state }}
      {{ order.address_zip }}
      <div style="float:right;">
        {{ order.contact_phone }}
      </div>
    </div>
    <div class="order" v-if="order.raw_dump !== undefined">
      <div class="bar">
        <div class="item">ITEM</div>
        <div class="qty">QTY</div>
        <div
          class="price"
          v-if="
            order.raw_dump != '' &&
              order.raw_dump.includes('DEALER_ORDER') === true
          "
        >
          MSRP
        </div>
        <div
          class="price"
          v-if="
            order.raw_dump != '' &&
              order.raw_dump.includes('DEALER_ORDER') === true
          "
        >
          DEALER&nbsp;PRICE
        </div>
        <div
          class="price"
          v-if="
            order.raw_dump == '' ||
              order.raw_dump.includes('DEALER_ORDER') === false
          "
        >
          PRICE
        </div>
        <div
          class="subtotal"
          v-if="
            order.raw_dump == '' ||
              order.raw_dump.includes('DEALER_ORDER') === false
          "
        >
          SUBTOTAL
        </div>
      </div>
      <div
        class="line_item"
        v-for="(item, indx) in items"
        :key="indx"
        v-bind:class="[item.parent_price_id != '' ? 'subpart' : '']"
      >
        <div class="item">
          <b>{{ item.part_number }}</b
          ><br />{{ item.part_description }}
        </div>
        <div class="qty">{{ item.qty }}</div>
        <div class="price">$ {{ item.price }}</div>
        <div class="subtotal">
          $
          {{
            decimalAdjust(
              'round',
              ((100 - discount) / 100) * item.price * item.qty,
              -2
            )
          }}
        </div>
      </div>
    </div>
    <div class="other_info">
      <div class="qrcode">
        <img src="/img/qrcode.png" height="150px" />
      </div>
      <h3>Shipping: ${{ decimalAdjust('round', order.shipping, -2) }}</h3>
      <h3>Tax: ${{ decimalAdjust('round', order.tax, -2) }}</h3>
      <h2>Total: ${{ decimalAdjust('round', total_price, -2) }}</h2>
      <br />
      <br />
      {{ order.modified }}<br />
      {{ order.paypal_number === null ? '' : order.paypal_number }}<br />
      Order #: {{ order.id }}
      <div v-if="bins !== null && bins !== 0 && bins !== ''">
        <br /><br />[{{ bins }}]
      </div>
      <br /><br />
      <div
        class="paypal"
        v-if="
          order.paypal_number !== undefined &&
            order.paypal_number !== null &&
            order.paypal_number.includes('GB-')
        "
      >
        <h3><u>GUNBROKER ORDER - NO RETURNS OR REFUNDS</u></h3>
      </div>
      <img
        src="/img/california.png"
        alt="Prop65"
        height="50px"
        v-if="isCalifornia"
      />
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'PrintInvoice',
  props: {
    orderId: String
  },
  components: {},
  data () {
    return {
      order: {},
      bins: '',
      items: [],
      isCalifornia: false,
      discount: 0,
      total_price: 0,
      serverURL: this.$apiUrls.root
    }
  },
  watch: {},
  mounted () {
    let self = this
    let formData = new FormData()
    formData.append('order_id', self.orderId)
    axios
      .post(this.serverURL + '/get/order/full', formData)
      .then(function (response) {
        if (response.data.status === 200) {
          const order = response.data.data.order[0]
          const items = response.data.data.items

          if (order.address_state === 'CA') {
            self.isCalifornia = true
          }

          /** ****  Sort the items by subpart ******/
          let sortedItems = []
          items.forEach(element => {
            if (element.parent_price_id === '') {
              sortedItems.push(element)
            }
            items.forEach(search => {
              if (search.parent_price_id === element.part_number) {
                search.part_description = search.part_description.split('(')[0]
                sortedItems.push(search)
              }
            })
            self.total_price +=
              ((100 - response.data.data.discount) / 100) *
              element.price *
              element.qty

            if (
              element.bin_id !== null &&
              element.bin_id !== 0 &&
              element.bin_id !== ''
            ) {
              self.bins += element.bin_id
            }
          })

          self.discount = response.data.data.discount
          self.items = sortedItems
          self.order = order
        }
      })
      .catch(function () {})
  },
  methods: {
    decimalAdjust (type, value, exp) {
      // If the exp is undefined or zero...
      if (typeof exp === 'undefined' || +exp === 0) {
        return Math[type](value)
      }
      value = +value
      exp = +exp
      // If the value is not a number or the exp is not an integer...
      if (isNaN(value) || !(typeof exp === 'number' && exp % 1 === 0)) {
        return NaN
      }
      // Shift
      value = value.toString().split('e')
      value = Math[type](
        +(value[0] + 'e' + (value[1] ? +value[1] - exp : -exp))
      )
      // Shift back
      value = value.toString().split('e')
      return +(value[0] + 'e' + (value[1] ? +value[1] + exp : exp))
    }
  }
}
</script>
<style scoped>
div.header {
  width: 800px;
  clear: both;
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 1.1;
}

h2 {
  text-transform: uppercase !important;
  line-height: unset;
  margin-bottom: unset;
  margin-top: 19.92px;
  font-weight: bold;
  font-size: 1.5rem;
}

h3 {
  text-transform: uppercase !important;
  line-height: unset;
  margin-bottom: unset;
  margin-top: 18.72px;
  font-weight: bold;
  font-size: 1.17rem;
}

div.order {
  margin-top: 50px;
  width: 80%;
}

div.other_info {
  text-align: right;
  width: 800px;
  border-top: 5px solid #ccc;
  padding-top: 15px;
  margin-top: 100px;
}

div.order div.partno {
  float: left;
  margin-right: 50px;
}

div.order div.partdesc {
  float: left;
}

img.header {
  height: 75px;
}

body {
  font-family: Helvetica, Sans;
  -webkit-print-color-adjust: exact; /* This means that this page is for Chrome only */
}

div.bar {
  background-color: #ccc;
  height: 40px;
  width: 800px;
  margin-bottom: 15px;
}

div.bar div {
  float: left;
  margin-right: 20px;
  font-weight: bold;
}

div.item {
  width: 320px;
  float: left;
  margin-right: 20px;
  padding: 10px;
}

div.qty {
  width: 10%;
  float: left;
  margin-right: 20px;
  text-align: center;
  padding: 10px;
}

div.price {
  width: 15%;
  float: left;
  text-align: center;
  margin-right: 20px;
  padding: 10px;
}

div.subtotal {
  width: 15%;
  float: left;
  text-align: center;
  padding: 10px;
}

div.line_item {
  clear: both;
  margin-bottom: 5px;
  width: 800px;
}

.pagebreak {
  page-break-after: always;
}

.invoice {
  clear: both;
  margin-bottom: 1rem;
}

.subpart {
  text-align: right;
}

.qrcode {
  float: left;
}

.paypal {
  width: 100%;
}
</style>
