<template>
  <div>
    <b-button
      variant="outline-primary medallion-btn"
      class="my-2"
      @click="isShow = true"
      >Add Custom Part</b-button
    >
    <b-modal
      v-model="isShow"
      scrollable
      size="lg"
      title="Add Custom Part"
      @ok="handleOk"
    >
      <b-container>
        <b-row>
          <b-col md="6" sm="6">
            <label for="state">SKU</label>
            <b-input class="mr-sm-2" v-model="sku"></b-input>
          </b-col>
          <b-col md="6" sm="6">
            <label for="state">Description</label>
            <b-input class="mr-sm-2" v-model="description"></b-input>
          </b-col>
          <b-col md="6" sm="6">
            <label for="state">Price</label>
            <b-input class="mr-sm-2" v-model="price"></b-input>
          </b-col>
          <b-col md="6" sm="6"
            ><label for="state">Part Type</label>
            <b-form-select
              v-model="discount"
              :options="typeOption"
            ></b-form-select
          ></b-col>
        </b-row>
      </b-container>
    </b-modal>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'NewPartModal',
  data () {
    return {
      serverURL: this.$apiUrls.root,
      isBusy: false,
      isShow: false,
      discount: -1,
      sku: '',
      description: '',
      price: '',
      typeOption: [
        { text: 'Grip', value: 0 },
        { text: 'Rifle Stock', value: 25 },
        { text: 'Knife', value: 20 },
        { text: 'Closeout', value: 0.00001 }
      ]
    }
  },
  watch: {},
  mounted () {
    let self = this
    self.isBusy = true
    let formData = new FormData()
    formData.append('search', self.query)
    axios
      .post(self.serverURL + '/get/addorder/init', formData)
      .then(function (response) {
        if (response.data.status === 200) {
          self.addons = response.data.data.addons
        } else {
          self.addons = []
        }
        self.isBusy = false
      })
      .catch(function () {
        self.isBusy = false
      })
  },
  methods: {
    handleOk (e) {
      let self = this
      // Update the selectedItems childIds if it has the childs.
      if (
        self.price === '' ||
        self.sku === '' ||
        self.description === '' ||
        self.discount === -1
      ) {
        e.preventDefault()
        self.$bvToast.toast('Please select the all fields.', {
          title: 'Warning',
          autoHideDelay: 3000,
          variant: 'warning',
          appendToast: false
        })
      } else {
        let formData = new FormData()
        formData.append('sku', self.sku)
        formData.append('desc', self.description)
        formData.append('price', self.price)
        formData.append('discount', self.discount)
        axios
          .post(self.serverURL + '/insert/new/product', formData)
          .then(function (response) {
            if (response.data.status === 200) {
              self.$bvToast.toast('Successfully inserted.', {
                title: 'Success',
                autoHideDelay: 3000,
                variant: 'Success',
                appendToast: false
              })
            } else {
              self.$bvToast.toast('Failed to insert the new product.', {
                title: 'Warning',
                autoHideDelay: 3000,
                variant: 'warning',
                appendToast: false
              })
            }
          })
          .catch(function () {
            self.$bvToast.toast('Failed to insert the new product.', {
              title: 'Warning',
              autoHideDelay: 3000,
              variant: 'warning',
              appendToast: false
            })
          })
      }
    }
  }
}
</script>
<style scoped></style>
