<template>
  <div>
    <b-modal
      v-model="isShow"
      scrollable
      size="lg"
      title="Altamont Shipping Window"
      no-close-on-backdrop
      hide-footer
    >
      <b-container class="window">
        <b-row v-if="isBusy" class="loading">
          <b-spinner label="Loading..."></b-spinner>
        </b-row>
        <b-row v-if="!isBusy">
          <b-col md="6" sm="6">
            <b-row class="row-style">
              <label for="state">Template</label>
              <b-form-select
                v-model="template"
                :options="templateOption"
                class="templateOption"
              ></b-form-select>
            </b-row>
            <b-row class="row-style">
              <label for="state">Length</label>
              <b-input class="mr-sm-2" v-model="length"></b-input>
            </b-row>
            <b-row class="row-style">
              <label for="state">Width</label>
              <b-input class="mr-sm-2" v-model="width"></b-input>
            </b-row>
            <b-row class="row-style">
              <label for="state">Height</label>
              <b-input class="mr-sm-2" v-model="height"></b-input>
            </b-row>
            <b-row class="row-style">
              <label for="state">Weight</label>
              <b-input class="mr-sm-2" v-model="weight"></b-input>
            </b-row>
            <b-row class="row-style override">
              <b-form-checkbox
                v-model="override"
                name="override"
                value="1"
                unchecked-value="0"
              >
                Override
              </b-form-checkbox>
            </b-row>
          </b-col>
          <b-col md="6" sm="6">
            <b-row class="row-style">
              <label for="state">Qty</label>
              <b-input class="mr-sm-2" v-model="qty"></b-input>
            </b-row>
            <b-row class="row-style">
              <label for="state">Insurance</label>
              <b-input class="mr-sm-2" v-model="insurance"></b-input>
            </b-row>
            <b-row class="row-style">
              <label for="state">ShipDate</label>
              <b-form-datepicker
                v-model="shipDate"
                class="mb-2 shipDate"
              ></b-form-datepicker>
            </b-row>
            <b-row class="row-style">
              <label for="state">Package Type</label>
              <b-input class="mr-sm-2" v-model="packageType"></b-input>
            </b-row>
            <b-row class="row-style">
              <label for="state">Mail Type</label>
              <b-form-select
                v-model="mailType"
                :options="mailTypeOption"
                class="shipDate"
              ></b-form-select>
            </b-row>
          </b-col>
        </b-row>
        <b-table
          :items="orders"
          :fields="fields"
          select-mode="multi"
          responsive="sm"
          selectable
          thead-class="hidden_header"
          striped
          outlined
          hover="hover"
          show-empty
          class="ordersTable"
        >
          <template #empty="scope">
            <h6>{{ scope.emptyText }}</h6>
          </template>
          <template #table-colgroup="scope">
            <col
              v-for="field in scope.fields"
              :key="field.key"
              :style="{
                width: setWidth(field.key)
              }"
            />
          </template>
          <template #table-busy>
            <div class="text-center text-danger my-2">
              <b-spinner class="align-middle"></b-spinner>
              <strong>Loading...</strong>
            </div>
          </template>
          <template #cell(Status)="data">
            <img
              src="/img/green_check.png"
              v-if="data.item.saved_for_later === 1"
              class="checkImg"
            />
            <img
              src="/img/red_x.png"
              v-if="data.item.saved_for_later !== 1"
              class="checkImg"
            />
          </template>
          <template #cell(Fullname)="data">
            {{ data.item.customer_name }}
          </template>
          <template #cell(Address)="data">
            {{ data.item.address_street }}
          </template>
          <template #cell(City)="data">
            {{ data.item.address_city }}
          </template>
          <template #cell(State)="data">
            {{ data.item.address_state }}
          </template>
          <template #cell(Zip)="data">
            {{ data.item.address_zip }}
          </template>
        </b-table>
        <b-button
          variant="primary"
          class="my-2 send-btn"
          @click="onhandlePrintLabel"
          >Print Labels</b-button
        >
      </b-container>
    </b-modal>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'PrintShipping',
  data () {
    return {
      serverURL: this.$apiUrls.root,
      isBusy: false,
      isShow: false,
      fields: ['Status', 'Fullname', 'Address', 'City', 'State', 'Zip'],
      orders: [],
      template: '',
      length: '',
      width: '',
      height: '',
      weight: '',
      qty: '1',
      insurance: '0.00',
      override: 0,
      shipDate: '',
      packageType: '',
      mailType: '',
      mailTypeOption: [
        { value: 'US-FC', text: 'USPS First-Class Mail' },
        { value: 'US-MM', text: 'USPS Media Mail' },
        { value: 'US-PP', text: 'USPS Parcel Post ' },
        { value: 'US-PM', text: 'USPS Priority Mail' },
        { value: 'US-XM', text: 'USPS Priority Mail Express' },
        { value: 'US-EMI', text: 'USPS Priority Mail Express International' },
        { value: 'US-PMI', text: 'USPS Priority Mail International' },
        { value: 'US-FCI', text: 'USPS First Class Mail International' },
        { value: 'US-CM', text: 'USPS Critical Mail' },
        { value: 'US-PS', text: 'USPS Parcel Select' },
        { value: 'US-LM', text: 'USPS Library Mail' }
      ],
      templateOption: []
    }
  },
  watch: {
    template () {
      let self = this
      self.length = self.template.length
      self.width = self.template.depth
      self.height = self.template.height
      self.weight = self.template.weight
    }
  },
  mounted () {
    let self = this
    self.isBusy = true
    let formData = new FormData()
    formData.append('search', self.query)
    axios
      .post(self.serverURL + '/get/shipping/templates', formData)
      .then(function (response) {
        if (response.data.status === 200) {
          const templates = response.data.data
          self.templateOption = []
          templates.forEach(template => {
            self.templateOption.push({ value: template, text: template.name })
          })
        } else {
          self.templateOption = []
        }
        self.isBusy = false
      })
      .catch(function () {
        self.isBusy = false
      })
  },
  methods: {
    onhandlePrintLabel () {},
    setWidth (key) {
      if (key === 'Status') {
        return '10%'
      } else if (key === 'Fullname') {
        return '25%'
      } else if (key === 'Address') {
        return '25%'
      } else if (key === 'City') {
        return '15%'
      } else if (key === 'State') {
        return '15%'
      } else {
        return '10%'
      }
    }
  }
}
</script>
<style scoped>
.window {
  padding: 1rem 2rem 3rem 2rem;
}

.shipDate {
  margin-bottom: 0px !important;
  margin-right: 0.5rem !important;
}

.templateOption {
  margin-right: 0.5rem !important;
}

.row-style {
  padding: 0rem 1rem;
}

.override {
  margin-top: 1rem;
}

.ordersTable {
  margin-top: 2rem;
}

.checkImg {
  height: 30px;
}
</style>
