<template>
  <div>
    <b-modal
      v-model="isShow"
      scrollable
      size="xl"
      title="Send Response"
      @ok="handleOk"
      no-close-on-backdrop
      hide-footer
    >
      <b-container>
        <b-row>
          <b-col sm="12">
            <h5 class="title">Customer Information</h5>
            <b-table
              :items="orders"
              :fields="fields"
              select-mode="multi"
              responsive="sm"
              selectable
              thead-class="hidden_header"
              striped
              outlined
              hover="hover"
              show-empty
            >
              <template #empty="scope">
                <h6>{{ scope.emptyText }}</h6>
              </template>
              <template #table-colgroup="scope">
                <col
                  v-for="field in scope.fields"
                  :key="field.key"
                  :style="{
                    width: setWidth(field.key)
                  }"
                />
              </template>
              <template #table-busy>
                <div class="text-center text-danger my-2">
                  <b-spinner class="align-middle"></b-spinner>
                  <strong>Loading...</strong>
                </div>
              </template>
              <template #cell(Name)="data">
                {{ data.item.customer_name }}
              </template>
              <template #cell(Email)="data">
                {{ data.item.customer_email }}
              </template>
              <template #cell(Detail)="data">
                <p
                  v-bind:class="[
                    (toggle == true && toggle_id == data.item.id) ||
                    data.item.order_details.length < 80
                      ? ''
                      : 'detail-hide'
                  ]"
                >
                  {{ data.item.order_details }}
                </p>
                <b-button
                  variant="light"
                  size="sm"
                  class="more"
                  v-if="data.item.order_details.length > 80"
                  @click="onToggle(data.item.id)"
                  >{{
                    toggle == true && toggle_id == data.item.id
                      ? 'Less'
                      : 'More'
                  }}</b-button
                >
              </template>
            </b-table>
          </b-col>
        </b-row>
        <b-row v-if="isBusy" class="loading">
          <b-spinner label="Loading..."></b-spinner>
        </b-row>
        <b-row v-if="!isBusy">
          <b-col sm="6">
            <label for="state">Templates</label>
            <b-form-select
              v-model="template"
              :options="templateOption"
            ></b-form-select>
          </b-col>
        </b-row>
        <b-row v-if="!isBusy">
          <b-col sm="12">
            <div
              v-html="generateTemplate(template)"
              class="template-message"
            ></div>
            <b-button
              variant="primary"
              class="my-2 send-btn"
              @click="onSendResponse"
              >Send Response</b-button
            >
          </b-col>
        </b-row>
      </b-container>
    </b-modal>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'SendResponse',
  data () {
    return {
      serverURL: this.$apiUrls.root,
      isBusy: false,
      isShow: false,
      orders: [],
      fields: ['Name', 'Email', 'Detail'],
      template: '',
      discount: -1,
      toggle: false,
      toggle_id: '',
      templateOption: [],
      templates: [],
      templatesFields: [],
      templatesParam: {},
      responseCount: 0,
      successCount: 0
    }
  },
  watch: {
    template () {
      let self = this
      const formData = new FormData()
      formData.append('template_id', self.template.id)
      axios
        .post(self.serverURL + '/get/templatefield', formData)
        .then(function (response) {
          if (response.data.status === 200) {
            self.templatesFields = response.data.data
          } else {
            self.templatesFields = []
          }
        })
        .catch(function () {})
    },
    isShow () {
      let self = this
      if (self.responseCount !== 0 && self.isShow === false) {
        self.isShow = true
      }
    }
  },
  mounted () {
    let self = this
    self.isBusy = true
    axios
      .post(self.serverURL + '/get/mailtemplate')
      .then(function (response) {
        if (response.data.status === 200) {
          self.templates = response.data.data
          self.templates.forEach(template => {
            self.templateOption.push({
              text: template.description,
              value: {
                id: template.id,
                message: template.message,
                text: template.description
              }
            })
          })
        } else {
          self.templates = []
          self.templateOption = []
        }
        self.isBusy = false
      })
      .catch(function () {
        self.isBusy = false
      })
  },
  methods: {
    onToggle (id) {
      let self = this
      if (id === self.toggle_id) {
        self.toggle = !self.toggle
      } else {
        self.toggle = true
        self.toggle_id = id
      }
    },
    handleOk (e) {},
    generateTemplate (template) {
      let self = this
      let message = template.message

      if (message === undefined) {
        return 'No content. Please select the template.'
      }
      self.templatesFields.forEach(item => {
        message = message.replace(
          '%' + item + '%',
          '<input type="text" placeholder="' +
            item +
            '" id="' +
            item +
            '" class="form-control" style="width: 15%;display: inline;"/>'
        )
      })

      return '<pre>' + message + '</pre>'
    },
    onSendResponse () {
      let self = this
      if (self.template === '') {
        self.$bvToast.toast('Please select the template', {
          title: 'Error',
          autoHideDelay: 3000,
          variant: 'error',
          appendToast: false
        })
        return
      }
      self.isBusy = true
      self.responseCount = 0
      self.successCount = 0
      let message = self.template.message
      self.templatesFields.forEach(item => {
        const element = document.getElementById(item)
        const text = element.value
        message = message.replace('%' + item + '%', text)
      })
      self.orders.forEach(order => {
        const id = order.id
        let ship = 0
        if (self.template.text.includes('Ship')) {
          ship = 1
        }
        const formData = new FormData()
        formData.append('order_id', id)
        formData.append('ship', ship)
        formData.append('message', message)
        axios
          .post(self.serverURL + '/send/email', formData)
          .then(function (response) {
            self.responseCount += 1
            if (self.responseCount === self.orders.length) {
              self.isBusy = false
              self.responseCount = 0
            }
            if (response.data.status === 200) {
              if (response.data.data === 'Message sent successfully') {
                self.successCount += 1
                if (self.successCount === self.orders.length) {
                  self.$bvToast.toast('Successfully sent the response.', {
                    title: 'Success',
                    autoHideDelay: 3000,
                    variant: 'success',
                    appendToast: false
                  })
                }
              } else {
                self.$bvToast.toast(
                  'Failed to send the response for order ' + id + '.',
                  {
                    title: 'Error',
                    autoHideDelay: 3000,
                    variant: 'error',
                    appendToast: false
                  }
                )
              }
            }
          })
          .catch(function () {
            self.isBusy = false
          })
      })
    },
    setWidth (key) {
      if (key === 'Name') {
        return '25%'
      } else if (key === 'Email') {
        return '25%'
      } else {
        return '50%'
      }
    }
  }
}
</script>
<style scoped>
.detail-hide {
  width: 80%;
  height: 32px;
  overflow: hidden;
  padding-top: 10px;
  float: left;
}

.more {
  margin-bottom: 9px;
  margin-top: 9px;
}

.order-detail {
  min-height: 40px;
}

.title {
  margin-top: 1rem;
  margin-bottom: 1.3rem;
}

::v-deep .table td {
  vertical-align: middle;
}

.template-message {
  margin-top: 1rem;
}

.template-item {
  width: 10%;
  display: inline;
}

.loading {
  justify-content: center;
  padding: 2rem;
}

.send-btn {
  float: right;
}
</style>
