<template>
  <div>
    <h3 class="title">Items</h3>
    <div class="selected-products">
      <b-table
        :items="selectedItems"
        :fields="selectedFields"
        select-mode="single"
        responsive="sm"
        ref="selectableTable"
        selectable
        striped
        outlined
        hover="hover"
        :busy="isBusy"
        show-empty
      >
        <template #empty>
          <h6>There are no parts added now.</h6>
        </template>
        <template #table-colgroup="scope">
          <col
            v-for="field in scope.fields"
            :key="field.key"
            :style="{
              width: setWidth(field.key)
            }"
          />
        </template>
        <template #table-busy>
          <div class="text-center text-danger my-2">
            <b-spinner class="align-middle"></b-spinner>
            <strong>Loading...</strong>
          </div>
        </template>
        <template #cell(Qty)="data">
          <b-input
            class="mr-sm-2"
            type="number"
            v-model="data.item.Qty"
            @click="onChangeQty(data)"
          ></b-input>
        </template>
        <template #cell(Price)="data">
          <span class="item">$ {{ data.item.Price }}</span>
        </template>
        <template #cell(Subtotal)="data">
          <span class="item">$ {{ data.item.Price * data.item.Qty }}</span>
        </template>
        <template #cell(Atlas)="data">
          <b-button-group size="sm" vertical>
            <b-button
              v-bind:class="[
                data.item.pulled === 1 ? 'active-atlas atlas' : 'atlas'
              ]"
              @click="onChangeAtlas(data, 0)"
              >Finish</b-button
            >
            <b-button
              v-bind:class="[
                data.item.laser_received === 1 ? 'active-atlas atlas' : 'atlas'
              ]"
              @click="onChangeAtlas(data, 1)"
              >laser</b-button
            >
            <b-button
              v-bind:class="[
                data.item.lasered === 1 ? 'active-atlas atlas' : 'atlas'
              ]"
              @click="onChangeAtlas(data, 2)"
              >Sanding</b-button
            >
            <b-button
              v-bind:class="[
                data.item.finished === 1 ? 'active-atlas atlas' : 'atlas'
              ]"
              @click="onChangeAtlas(data, 3)"
              >Pulled</b-button
            >
          </b-button-group>
        </template>
        <template #cell(Action)="data">
          <b-button
            class="xmark"
            pill
            variant="outline"
            @click="onClickRemove(data)"
            >&#10060;</b-button
          >
        </template>
      </b-table>
      <div class="total-price">
        <b-row>
          <b-col sm="4" md="4"><NewPartModal /></b-col>
          <b-col offset-sm="3" offset-md="3" sm="5" md="5">
            <b-row>
              <b-col sm="7" md="7">
                <span class="label">Tax: </span>
              </b-col>
              <b-col sm="5" md="5">
                <span class="label">$ 0</span>
              </b-col>
            </b-row>
            <b-row>
              <b-col sm="7" md="7">
                <span class="label">Shipping: </span>
              </b-col>
              <b-col sm="5" md="5">
                <span class="label">$ {{ getShippingPrice() }}</span>
              </b-col>
            </b-row>
            <b-row>
              <b-col sm="7" md="7">
                <span class="label">Dealer Discount: </span>
              </b-col>
              <b-col sm="5" md="5">
                <span class="label">{{ dealerDiscount }} %</span>
              </b-col>
            </b-row>
            <b-row>
              <b-col sm="7" md="7">
                <h3 class="label">Total:</h3>
              </b-col>
              <b-col sm="5" md="5">
                <h3 class="label">
                  $
                  {{
                    decimalAdjust(
                      'round',
                      getTotalPrice() + getShippingPrice(),
                      -2
                    )
                  }}
                </h3>
              </b-col>
            </b-row>
          </b-col>
        </b-row>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import NewPartModal from './../NewPartModal'

export default {
  name: 'AddItemForm',
  components: { NewPartModal },
  data () {
    return {
      serverURL: this.$apiUrls.root,
      isBusy: false,
      selectedFields: [
        'SKU',
        'Description',
        'Qty',
        'Price',
        'Subtotal',
        'Atlas',
        'Action'
      ],
      selectedItems: [],
      addons: [],
      query: '',
      dealerDiscount: 0,
      shipping: 0.0
    }
  },
  watch: {},
  mounted () {
    let self = this
    self.isBusy = true
    let formData = new FormData()
    formData.append('search', self.query)
    axios
      .post(self.serverURL + '/get/addorder/init', formData)
      .then(function (response) {
        if (response.data.status === 200) {
          self.addons = response.data.data.addons
        } else {
          self.addons = []
        }
        self.isBusy = false
      })
      .catch(function () {
        self.isBusy = false
      })
  },
  methods: {
    decimalAdjust (type, value, exp) {
      // If the exp is undefined or zero...
      if (typeof exp === 'undefined' || +exp === 0) {
        return Math[type](value)
      }
      value = +value
      exp = +exp
      // If the value is not a number or the exp is not an integer...
      if (isNaN(value) || !(typeof exp === 'number' && exp % 1 === 0)) {
        return NaN
      }
      // Shift
      value = value.toString().split('e')
      value = Math[type](
        +(value[0] + 'e' + (value[1] ? +value[1] - exp : -exp))
      )
      // Shift back
      value = value.toString().split('e')
      return +(value[0] + 'e' + (value[1] ? +value[1] + exp : exp))
    },
    onClickAddItem (data) {
      // Add the searched part to the new order product list.
      let self = this
      // Check if the searched part is addon part.
      let isAddon = null
      self.addons.forEach(addon => {
        if (addon.Name === data.item.SKU) {
          isAddon = addon
        }
      })
      if (isAddon != null) {
        // check it the searched metallion is valid.
        if (isAddon.active === 1 || isAddon.Description.includes('JUDI')) {
          // If the searched part is modallion, modal the dialog.
          self.searchedMedallion = data.item
          self.modalionParentOptions = []
          // add the parts which is not the metallion
          self.selectedItems.forEach(item => {
            if (item.ParentSKU === '') {
              self.modalionParentOptions.push({
                text: item.SKU,
                value: item.SKU
              })
            }
          })
          self.medalionTempParts = []
          self.selectedModalionQty = 1
          self.medallionShow = true
        } else {
          this.$bvToast.toast('The metallion is not valid.', {
            title: 'Warning',
            autoHideDelay: 3000,
            variant: 'warning',
            appendToast: false
          })
        }
      } else {
        // If the searched part is not addon part, insert to the selectedItmes directly.
        let isNew = true
        // If the searched part has already added, increase only the Qty.
        self.selectedItems.forEach((item, index) => {
          if (item.SKU === data.item.SKU) {
            self.selectedItems[index].Qty += 1
            isNew = false
          }
        })
        if (isNew) {
          self.selectedItems.push({
            SKU: data.item.SKU,
            Description: data.item.Description,
            Qty: 1,
            Price: data.item.Price,
            Subtotal: data.item.Price * 1,
            Action: '',
            ParentSKU: '',
            childIds: [],
            dealerDiscount: self.isDealer
          })
        }
      }
    },
    onChangeQty (data) {
      let self = this
      self.selectedItems.forEach((item, index) => {
        if (item.SKU === data.item.SKU) {
          if (data.item.Qty < 1) {
            self.selectedItems[index].Qty = 1
          } else {
            self.selectedItems[index].Qty = data.item.Qty
          }
          self.selectedItems[index].Subtotal = data.item.Qty * data.item.Price
        }
      })
    },
    onClickRemove (data) {
      let self = this
      self.selectedItems.forEach((item, index) => {
        if (item.SKU === data.item.SKU) {
          self.selectedItems.splice(index, 1)
        }
      })
      data.item.childIds.forEach(child => {
        self.selectedItems.forEach((item, index) => {
          if (item.SKU === child && item.ParentSKU === data.item.SKU) {
            self.selectedItems.splice(index, 1)
          }
        })
      })
    },
    getTotalPrice () {
      let self = this
      let totalPrice = 0
      self.selectedItems.forEach(item => {
        totalPrice += item.Price * item.Qty
      })
      if (self.dealerDiscount !== 0) {
        totalPrice = (totalPrice * (100 - self.dealerDiscount)) / 100
      }
      return totalPrice
    },
    getShippingPrice () {
      let self = this
      let totalPrice = 0
      self.selectedItems.forEach(item => {
        totalPrice += item.Price * item.Qty
      })
      if (self.dealerDiscount !== 0) {
        totalPrice = (totalPrice * (100 - self.dealerDiscount)) / 100
      }
      if (totalPrice === 0) {
        return 0
      } else if (totalPrice < 200) {
        return 6.1
      } else if (totalPrice < 400) {
        return 9.0
      } else if (totalPrice < 600) {
        return 11.0
      } else if (totalPrice < 800) {
        return 13.0
      } else if (totalPrice < 1000) {
        return 15.0
      } else if (totalPrice > 1000) {
        return 0.0
      }
    },
    getItems () {
      let self = this
      return self.selectedItems
    },
    getFinance () {
      let self = this
      return {
        tax: 0,
        disaccount: self.dealerDiscount,
        shipping: self.getShippingPrice(),
        total: self.getTotalPrice()
      }
    },
    onChangeAtlas (data, index) {
      let self = this
      let which = -1
      self.selectedItems.forEach((item, i) => {
        if (item.SKU === data.item.SKU) {
          which = i
        }
      })

      switch (index) {
        case 0:
          self.selectedItems[which].pulled =
            self.selectedItems[which].pulled === 1 ? 0 : 1
          break
        case 1:
          self.selectedItems[which].laser_received =
            self.selectedItems[which].laser_received === 1 ? 0 : 1
          break
        case 2:
          self.selectedItems[which].lasered =
            self.selectedItems[which].lasered === 1 ? 0 : 1
          break
        case 3:
          self.selectedItems[which].finished =
            self.selectedItems[which].finished === 1 ? 0 : 1
          break
      }
    },
    setWidth (key) {
      if (key === 'SKU') {
        return '20%'
      } else if (key === 'Description') {
        return '30%'
      } else if (key === 'Qty') {
        return '15%'
      } else if (key === 'Price') {
        return '10%'
      } else if (key === 'Subtotal') {
        return '10%'
      } else if (key === 'Atlas') {
        return '10%'
      } else {
        return '5%'
      }
    }
  }
}
</script>
<style scoped>
.mr-sm-2 {
  width: 80% !important;
}

.search-form {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.price {
  width: 100%;
  display: block;
  margin-top: 13px;
}

.item {
  width: 100%;
  display: block;
  margin-top: 6px;
}

.selected-products {
  margin-top: 3rem;
}

.xmark {
  padding-left: 13px;
  display: block;
  padding-top: 6px;
  font-size: 17px;
}

.xmark:hover {
  transform: rotate(90deg);
  transition: 0.25s ease;
}

.xmark:not(:hover) {
  transform: rotate(-90deg);
  transition: 0.25s ease;
}

::v-deep .xmark.btn:focus,
.xmark.btn.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 0%);
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 0%);
}

.red {
  color: red;
}

.label {
  float: right;
}

h3.label {
  margin-top: 1rem;
}

.total-price {
  margin-top: 3rem;
}

.center {
  text-align: center;
}

.flex-items {
  display: flex;
}

.title {
  margin-top: 2rem;
}

::v-deep .atlas.btn-secondary:focus,
.atlas.btn-secondary.focus {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
  -webkit-box-shadow: none;
  box-shadow: none;
}

::v-deep .atlas.btn:focus,
.atlas.btn.focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

::v-deep .active-atlas.atlas.btn-secondary:focus,
.active-atlas.atlas.btn-secondary.focus {
  color: #fff;
  background-color: #28a745;
  border-color: #6c757d;
  -webkit-box-shadow: none;
  box-shadow: none;
}

::v-deep .active-atlas.atlas.btn:focus,
.active-atlas.atlas.btn.focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

::v-deep.btn-secondary:hover {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.active-atlas {
  background-color: #28a745;
}

::v-deep .atlas.btn {
  font-size: 9px;
  padding: 1px 4px 1px 4px;
}
</style>
