<template>
  <div>
    <div class="head-bar">
      <b-button-group class="mx-1">
        <b-button
          variant="outline-primary"
          class="my-2 save"
          @click="onHandleSave"
          >Save</b-button
        >
        <b-button variant="outline-primary" class="my-2" @click="onHandleReturn"
          >Create Return</b-button
        >
        <b-button
          variant="outline-primary"
          class="my-2"
          @click="$router.push('/neworder')"
          >New Order</b-button
        >
        <b-button
          variant="outline-primary"
          class="my-2"
          @click="$router.push('/printinvoice/' + user.id)"
          >Print Invoice</b-button
        >
        <b-button
          variant="outline-primary"
          class="my-2"
          @click="$router.push('/')"
          >Cancel</b-button
        >
      </b-button-group>
    </div>
    <div class="text-center" v-if="formBusy">
      <b-spinner variant="primary" label="Text Centered"></b-spinner>
    </div>
    <form @submit.prevent="handleSubmit" v-if="!formBusy">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input
              type="text"
              v-model="user.firstName"
              id="firstName"
              name="firstName"
              class="form-control"
              :class="{
                'is-invalid': submitted && $v.user.firstName.$error
              }"
            />
            <div
              v-if="submitted && !$v.user.firstName.required"
              class="invalid-feedback"
            >
              First Name is required
            </div>
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input
              type="text"
              v-model="user.lastName"
              id="lastName"
              name="lastName"
              class="form-control"
              :class="{
                'is-invalid': submitted && $v.user.lastName.$error
              }"
            />
            <div
              v-if="submitted && !$v.user.lastName.required"
              class="invalid-feedback"
            >
              Last Name is required
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              v-model="user.email"
              id="email"
              name="email"
              class="form-control"
              :class="{
                'is-invalid': submitted && $v.user.email.$error
              }"
            />
            <div
              v-if="submitted && $v.user.email.$error"
              class="invalid-feedback"
            >
              <span v-if="!$v.user.email.required">Email is required</span>
              <span v-if="!$v.user.email.email">Email is invalid</span>
            </div>
          </div>
          <div class="form-group">
            <label for="phone">Phone number</label>
            <input
              type="text"
              v-model="user.phone"
              id="phone"
              name="phone"
              class="form-control"
              @input="acceptNumber"
              :class="{
                'is-invalid': submitted && $v.user.phone.$error
              }"
            />
            <div
              v-if="submitted && !$v.user.phone.required"
              class="invalid-feedback"
            >
              Phone Number is required
            </div>
          </div>
          <div class="form-group">
            <label for="firstName">Street</label>
            <input
              type="text"
              v-model="user.street"
              id="street"
              name="street"
              class="form-control"
              :class="{
                'is-invalid': submitted && $v.user.street.$error
              }"
            />
            <div
              v-if="submitted && !$v.user.street.required"
              class="invalid-feedback"
            >
              Street is required
            </div>
          </div>
          <div class="form-group">
            <label for="firstName">City</label>
            <input
              type="text"
              v-model="user.city"
              id="city"
              name="city"
              class="form-control"
              :class="{
                'is-invalid': submitted && $v.user.city.$error
              }"
            />
            <div
              v-if="submitted && !$v.user.city.required"
              class="invalid-feedback"
            >
              City is required
            </div>
          </div>
          <div class="form-group">
            <label for="tracking"
              ><b-link
                :href="
                  `https://www.paypal.com/us/cgi-bin/webscr?cmd=_view-a-trans&id=${user.paypal_number}`
                "
                target="_blank"
                >PayPal Number</b-link
              ></label
            >
            <input
              type="text"
              v-model="user.paypal_number"
              id="paypal_number"
              name="paypal_number"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <b-form-checkbox
              v-model="user.hold"
              name="hold"
              value="1"
              unchecked-value="0"
            >
              Hold
            </b-form-checkbox>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="state">state</label>
            <b-form-select
              v-model="user.state"
              name="state"
              id="state"
              :options="stateOptions"
              :class="{
                'is-invalid': submitted && $v.user.state.$error
              }"
            ></b-form-select>
            <div
              v-if="submitted && !$v.user.state.required"
              class="invalid-feedback"
            >
              state is required
            </div>
          </div>
          <div class="form-group">
            <label for="firstName">Zipcode</label>
            <input
              type="text"
              v-model="user.zipcode"
              id="zipcode"
              name="zipcode"
              class="form-control"
              :class="{
                'is-invalid': submitted && $v.user.zipcode.$error
              }"
            />
            <div
              v-if="submitted && !$v.user.zipcode.required"
              class="invalid-feedback"
            >
              Zipcode is required
            </div>
          </div>
          <div class="form-group">
            <label for="status">Status</label>
            <input
              type="text"
              v-model="user.status"
              id="status"
              name="status"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label for="tracking"
              ><b-link
                :href="
                  `https://tools.usps.com/go/TrackConfirmAction.action?tRef=fullpage&tLc=1&text28777=&tLabels=${user.tracking}`
                "
                target="_blank"
                >Tracking</b-link
              ></label
            >
            <input
              type="text"
              v-model="user.tracking"
              id="tracking"
              name="tracking"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label for="timestamp">Date Ordered</label>
            <input
              type="text"
              v-model="user.timestamp"
              id="timestamp"
              name="timestamp"
              class="form-control"
              @input="acceptTimeStamp"
            />
          </div>
          <div class="form-group">
            <label for="modified">Last modified</label>
            <input
              type="text"
              v-model="user.modified"
              id="modified"
              name="modified"
              class="form-control"
              @input="acceptModified"
            />
          </div>
          <div class="form-group">
            <label for="firstName">Country</label>
            <input
              type="text"
              v-model="user.country"
              id="address_country_code"
              name="address_country_code"
              class="form-control"
            />
          </div>
        </div>
        <div class="col-sm-12">
          <div class="form-group">
            <label for="notes">Notes</label>
            <b-form-textarea
              id="notes"
              v-model="user.notes"
              placeholder="Enter something..."
              rows="3"
              max-rows="6"
            ></b-form-textarea>
          </div>
        </div>
        <div class="col-sm-6">
          <button class="btn btn-primary hide" ref="register">
            Register
          </button>
        </div>
      </div>
    </form>
    <b-button v-b-toggle.collapse-advanced variant="primary">Advanced</b-button>
    <b-collapse id="collapse-advanced" class="mt-2">
      <b-card class="advanced-card">
        <b-row>
          <b-col sm="6">
            <div class="form-group">
              <label for="firstName">exists_in_database</label>
              <input
                type="text"
                v-model="user.exists_in_database"
                id="exists_in_database"
                name="exists_in_database"
                class="form-control"
              />
            </div>
            <div class="form-group">
              <label for="firstName">isDealer</label>
              <input
                v-model="user.isDealer"
                id="isDealer"
                name="isDealer"
                class="form-control"
                type="number"
                @input="onHandleDealer"
              />
            </div>
            <div class="form-group">
              <label for="firstName">raw_dump</label>
              <input
                type="text"
                v-model="user.raw_dump"
                id="raw_dump"
                name="raw_dump"
                class="form-control"
              />
            </div>
            <div class="form-group">
              <b-form-checkbox
                v-model="user.saved_for_later"
                name="saved_for_later"
                value="1"
                unchecked-value="0"
              >
                saved_for_later
              </b-form-checkbox>
            </div>
          </b-col>
          <b-col sm="6">
            <div class="form-group">
              <label for="firstName">orderNumbers</label>
              <input
                type="text"
                v-model="user.orderNumbers"
                id="orderNumbers"
                name="orderNumbers"
                class="form-control"
              />
            </div>
            <div class="form-group">
              <label for="firstName">order_details</label>
              <input
                type="text"
                v-model="user.order_details"
                id="order_details"
                name="order_details"
                class="form-control"
              />
            </div>
            <div class="form-group">
              <label for="firstName">judi_packed</label>
              <input
                type="text"
                v-model="user.judi_packed"
                id="judi_packed"
                name="judi_packed"
                class="form-control"
              />
            </div>
          </b-col>
        </b-row>
      </b-card>
    </b-collapse>
  </div>
</template>

<script>
import { required, email } from 'vuelidate/lib/validators'
import axios from 'axios'

export default {
  name: 'NewOrderForm',
  props: {},
  watch: {},
  data () {
    return {
      user: {
        id: '',
        firstName: '',
        lastName: '',
        email: '',
        phone: '',
        street: '',
        state: '',
        city: '',
        zipcode: '',
        country: '',
        notes: '',
        status: '',
        tracking: '',
        timestamp: '',
        modified: '',
        hold: 0,
        exists_in_database: '',
        isDealer: 0,
        raw_dump: '',
        saved_for_later: 0,
        orderNumbers: '',
        order_details: '',
        judi_packed: ''
      },
      serverURL: this.$apiUrls.root,
      submitted: false,
      formBusy: false,
      discount: 0,
      stateOptions: [
        { value: null, text: 'Please select an option' },
        { text: 'Alabama', value: 'AL' },
        { text: 'Alaska', value: 'AK' },
        { text: 'Arizona', value: 'AZ' },
        { text: 'Arkansas', value: 'AR' },
        { text: 'California', value: 'CA' },
        { text: 'Colorado', value: 'CO' },
        { text: 'Connecticut', value: 'CT' },
        { text: 'Delaware', value: 'DE' },
        { text: 'District of Columbia', value: 'DC' },
        { text: 'Florida', value: 'FL' },
        { text: 'Georgia', value: 'GA' },
        { text: 'Hawaii', value: 'HI' },
        { text: 'Idaho', value: 'ID' },
        { text: 'Illinois', value: 'IL' },
        { text: 'Indiana', value: 'IN' },
        { text: 'Iowa', value: 'IA' },
        { text: 'Kansas', value: 'KS' },
        { text: 'Kentucky', value: 'KY' },
        { text: 'Louisiana', value: 'LA' },
        { text: 'Maine', value: 'ME' },
        { text: 'Maryland', value: 'MD' },
        { text: 'Massachusetts', value: 'MA' },
        { text: 'Michigan', value: 'MI' },
        { text: 'Minnesota', value: 'MN' },
        { text: 'Mississippi', value: 'MS' },
        { text: 'Missouri', value: 'MO' },
        { text: 'Montana', value: 'MT' },
        { text: 'Nebraska', value: 'NE' },
        { text: 'Nevada', value: 'NV' },
        { text: 'New Hampshire', value: 'NH' },
        { text: 'New Jersey', value: 'NJ' },
        { text: 'New Mexico', value: 'NM' },
        { text: 'New York', value: 'NY' },
        { text: 'North Carolina', value: 'NC' },
        { text: 'North Dakota', value: 'ND' },
        { text: 'Ohio', value: 'OH' },
        { text: 'Oklahoma', value: 'OK' },
        { text: 'Oregon', value: 'OR' },
        { text: 'Pennsylvania', value: 'PA' },
        { text: 'Rhode Island', value: 'RI' },
        { text: 'South Carolina', value: 'SC' },
        { text: 'South Dakota', value: 'SD' },
        { text: 'Tennessee', value: 'TN' },
        { text: 'Texas', value: 'TX' },
        { text: 'Utah', value: 'UT' },
        { text: 'Vermont', value: 'VT' },
        { text: 'Virginia', value: 'VA' },
        { text: 'Washington', value: 'WA' },
        { text: 'West Virginia', value: 'WV' },
        { text: 'Wisconsin', value: 'WI' },
        { text: 'Wyoming', value: 'WY' },
        { text: 'Alberta', value: 'AB' },
        { text: 'British Columbia', value: 'BC' },
        { text: 'Manitoba', value: 'MB' },
        { text: 'New Brunswick', value: 'NB' },
        { text: 'Newfoundland and Labrador', value: 'NL' },
        { text: 'Northwest Territories', value: 'NT' },
        { text: 'Nova Scotia', value: 'NS' },
        { text: 'Nunavut', value: 'NU' },
        { text: 'Ontario', value: 'ON' },
        { text: 'Prince Edward Island', value: 'PE' },
        { text: 'Québec', value: 'QC' },
        { text: 'Saskatchewan', value: 'SK' },
        { text: 'Yukon', value: 'YT' }
      ]
    }
  },
  mounted () {
    let self = this
    self.formBusy = true
    axios
      .post(self.serverURL + '/get/dealer')
      .then(function (response) {
        if (response.data.status === 200) {
          self.dealerOptions = response.data.data
        }
        self.formBusy = false
      })
      .catch(function () {
        self.formBusy = false
      })
  },
  validations: {
    user: {
      firstName: { required },
      lastName: { required },
      email: { required, email },
      phone: { required },
      street: { required },
      city: { required },
      zipcode: { required },
      state: { required }
    }
  },
  methods: {
    onHandleDealer () {
      let self = this
      self.$parent.setDiscount(self.user.isDealer)
    },
    handleSubmit (e) {
      let self = this
      this.submitted = true

      // stop here if form is invalid
      this.$v.$touch()
      if (this.$v.$invalid) {
        return
      }

      const items = this.$parent.getItems()

      const finance = this.$parent.getFinance()

      const formData = new FormData()

      formData.append('order', JSON.stringify(this.user))
      formData.append('finance', JSON.stringify(finance))
      formData.append('items', JSON.stringify({ item: items }))
      axios
        .post(this.serverURL + '/update/order', formData, {
          headers: {
            'Content-Type': 'multipart/form-data'
          }
        })
        .then(function (response) {
          if (response.data.status === 200) {
            self.$bvToast.toast('Successfully inserted the new order.', {
              title: 'Success',
              autoHideDelay: 3000,
              variant: 'Success',
              appendToast: false
            })
            self.$router.push('/')
          } else {
            self.$bvToast.toast('Failed to insert the new order.', {
              title: 'Warning',
              autoHideDelay: 3000,
              variant: 'warning',
              appendToast: false
            })
          }
        })
        .catch(function () {
          self.$bvToast.toast(
            'Failed to insert the new order. Something went wrong',
            {
              title: 'Warning',
              autoHideDelay: 3000,
              variant: 'warning',
              appendToast: false
            }
          )
        })
    },
    acceptNumber () {
      var x = this.user.phone
        .replace(/\D/g, '')
        .match(/(\d{0,3})(\d{0,3})(\d{0,4})/)
      this.user.phone = !x[2]
        ? x[1]
        : x[1] + '-' + x[2] + (x[3] ? '-' + x[3] : '')
    },
    acceptTimeStamp () {
      var x = this.user.timestamp
        .replace(/\D/g, '')
        .match(/(\d{0,4})(\d{0,2})(\d{0,2})(\d{0,2})(\d{0,2})(\d{0,2})/)
      this.user.timestamp = !x[2]
        ? x[1]
        : x[1] +
          '-' +
          x[2] +
          (x[3] ? '-' + x[3] + ' ' : '') +
          (x[4] ? x[4] : '') +
          (x[5] ? ':' + x[5] : '') +
          (x[6] ? ':' + x[6] : '')
    },
    acceptModified () {
      var x = this.user.modified
        .replace(/\D/g, '')
        .match(/(\d{0,4})(\d{0,2})(\d{0,2})(\d{0,2})(\d{0,2})(\d{0,2})/)
      this.user.modified = !x[2]
        ? x[1]
        : x[1] +
          '-' +
          x[2] +
          (x[3] ? '-' + x[3] + ' ' : '') +
          (x[4] ? x[4] : '') +
          (x[5] ? ':' + x[5] : '') +
          (x[6] ? ':' + x[6] : '')
    },
    onHandleSave () {
      let self = this
      self.$refs.register.click()
    },
    onHandleReturn () {
      let self = this
      self.user.status = 'Return'
      self.$refs.register.click()
    }
  }
}
</script>
<style scoped>
.dealer {
  width: 48.5%;
}

.hide {
  display: none;
}

.title {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.head-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 2rem;
}

.save {
  width: 5rem;
}

.advanced-card {
  background: #d1d0d0;
}
</style>
