<template>
  <div>
    <div class="product-search">
      <div class="search-form">
        <b-input
          class="mr-sm-2"
          placeholder="Search"
          v-model="query"
          v-on:keyup="onHandleSearchKeys"
        ></b-input>
        <b-button variant="outline-primary" class="my-2" @click="onSearch"
          >Search</b-button
        >
      </div>
      <b-table
        :items="seachedItems"
        :fields="seachedFields"
        select-mode="single"
        responsive="sm"
        ref="selectableTable"
        selectable
        striped
        outlined
        hover="hover"
        :busy="isBusy"
        show-empty
      >
        <template #empty>
          <h6>No Search Results ...</h6>
        </template>
        <template #table-colgroup="scope">
          <col
            v-for="field in scope.fields"
            :key="field.key"
            :style="{
              width: setWidth(field.key)
            }"
          />
        </template>
        <template #table-busy>
          <div class="text-center text-danger my-2">
            <b-spinner class="align-middle"></b-spinner>
            <strong>Loading...</strong>
          </div>
        </template>
        <template #cell(SKU)="data">
          <span v-bind:class="[data.item.active == true ? 'red' : '']">{{
            data.item.SKU
          }}</span>
        </template>
        <template #cell(Price)="data">
          <span class="price">$ {{ data.item.Price }}</span>
        </template>
        <template #cell(Action)="data">
          <b-button
            variant="outline-primary"
            class="my-2"
            @click="onClickAddItem(data)"
            >Add Item</b-button
          >
        </template>
      </b-table>
    </div>
    <b-modal
      v-model="medallionShow"
      scrollable
      size="lg"
      title="Add Medallions"
      @ok="handleMedallionOk"
    >
      <h3 class="center">{{ searchedMedallion.SKU }}</h3>
      <b-row>
        <b-col class="medallion-parent" md="7" sm="7"
          ><label for="state">Parent Part</label>
          <b-form-select
            v-model="selectedModalionParent"
            :options="modalionParentOptions"
          ></b-form-select
        ></b-col>
        <b-col md="4" sm="4" class="flex-items">
          <div class="medallion-qty">
            <label for="state">Qty</label>
            <b-input
              class="mr-sm-2"
              type="number"
              v-model="selectedModalionQty"
              @click="onChangeMedallionQty()"
            ></b-input>
          </div>
          <b-button
            variant="outline-primary medallion-btn"
            class="my-2"
            @click="onAddItem"
            >Add Item</b-button
          >
        </b-col>
      </b-row>
      <b-table
        :items="medalionTempParts"
        :fields="medallionFields"
        select-mode="single"
        responsive="sm"
        ref="selectableTable"
        selectable
        striped
        outlined
        hover="hover"
        :busy="isBusy"
        show-empty
        class="medallion-table"
      >
        <template #empty>
          <h6>There are no parts added now.</h6>
        </template>
        <template #table-colgroup="scope">
          <col
            v-for="field in scope.fields"
            :key="field.key"
            :style="{
              width: setWidthMedallion(field.key)
            }"
          />
        </template>
        <template #table-busy>
          <div class="text-center text-danger my-2">
            <b-spinner class="align-middle"></b-spinner>
            <strong>Loading...</strong>
          </div>
        </template>
        <template #cell(Qty)="data">
          <b-input
            class="mr-sm-2"
            type="number"
            v-model="data.item.Qty"
            @click="onChangeMedallionTableQty(data)"
          ></b-input>
        </template>
        <template #cell(ParentSKU)="data">
          <span class="item">{{ data.item.ParentSKU }}</span>
        </template>
        <template #cell(Price)="data">
          <span class="item">$ {{ data.item.Price }}</span>
        </template>
        <template #cell(Action)="data">
          <b-button
            class="xmark"
            pill
            variant="outline"
            @click="onClickMedallionRemove(data)"
            >&#10060;</b-button
          >
        </template>
      </b-table>
    </b-modal>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'AddItemForm',
  components: {},
  data () {
    return {
      serverURL: this.$apiUrls.root,
      isBusy: false,
      medallionShow: false,
      seachedFields: ['SKU', 'Description', 'Price', 'Action'],
      medallionFields: ['SKU', 'ParentSKU', 'Qty', 'Price', 'Action'],
      seachedItems: [],
      addons: [],
      query: '',
      searchedMedallion: {},
      selectedModalionParent: '',
      selectedModalionQty: 1,
      modalionParentOptions: [],
      medalionTempParts: []
    }
  },
  watch: {},
  mounted () {
    let self = this
    self.isBusy = true
    let formData = new FormData()
    formData.append('search', self.query)
    axios
      .post(self.serverURL + '/get/addorder/init', formData)
      .then(function (response) {
        if (response.data.status === 200) {
          self.addons = response.data.data.addons
        } else {
          self.addons = []
        }
        self.isBusy = false
      })
      .catch(function () {
        self.isBusy = false
      })
  },
  methods: {
    onSearch () {
      let self = this
      self.isBusy = true
      let formData = new FormData()
      formData.append('search', self.query)
      axios
        .post(self.serverURL + '/get/search', formData)
        .then(function (response) {
          if (response.data.status === 200) {
            self.seachedItems = response.data.data
          } else {
            self.seachedItems = []
          }
          self.isBusy = false
        })
        .catch(function () {
          self.isBusy = false
        })
    },
    checkEnableAddon () {
      // Check if the select part can be added the selected metallion part.
      let self = this
      // self.selectedModalionParent
      let sampleAddonInfo
      self.addons.forEach(addon => {
        if (addon.Name === self.searchedMedallion.SKU) {
          sampleAddonInfo = addon
        }
      })

      // This requires converting strings to regexp
      let yesMatch = 0

      sampleAddonInfo.Yes.split('?').forEach(pattern => {
        const regPattern = pattern.replace('!', '')
        const reg = new RegExp(regPattern, 'g')
        if (regPattern !== '' && reg.test(self.selectedModalionParent)) {
          yesMatch = 1
        }
      })

      let noMatch = 0
      sampleAddonInfo.No.split('?').forEach(pattern => {
        const regPattern = pattern.replace('!', '')
        const reg = new RegExp(regPattern, 'g')
        if (regPattern !== '' && reg.test(self.selectedModalionParent)) {
          noMatch = 1
        }
      })

      let noIncludedMatch = 0
      sampleAddonInfo['NoIncluded'].split('?').forEach(pattern => {
        const regPattern = pattern.replace('!', '')
        const reg = new RegExp(regPattern, 'g')
        if (regPattern !== '' && reg.test(self.selectedModalionParent)) {
          noIncludedMatch = 1
        }
      })

      if (yesMatch !== 0 && noMatch === 0 && noIncludedMatch === 0) {
        return 1
      } else {
        return 0
      }
    },
    onClickAddItem (data) {
      // Add the searched part to the new order product list.
      let self = this
      // Check if the searched part is addon part.
      let isAddon = null
      self.addons.forEach(addon => {
        if (addon.Name === data.item.SKU) {
          isAddon = addon
        }
      })
      if (isAddon != null) {
        // check it the searched metallion is valid.
        if (isAddon.active === 1 || isAddon.Description.includes('JUDI')) {
          // If the searched part is modallion, modal the dialog.
          self.searchedMedallion = data.item
          self.modalionParentOptions = []
          // add the parts which is not the metallion
          self.$parent.getSelectedItems().forEach(item => {
            if (item.ParentSKU === '') {
              self.modalionParentOptions.push({
                text: item.SKU,
                value: item.SKU
              })
            }
          })
          self.medalionTempParts = []
          self.selectedModalionQty = 1
          self.medallionShow = true
        } else {
          this.$bvToast.toast('The metallion is not valid.', {
            title: 'Warning',
            autoHideDelay: 3000,
            variant: 'warning',
            appendToast: false
          })
        }
      } else {
        // If the searched part is not addon part, insert to the selectedItmes directly.
        let isNew = true
        // If the searched part has already added, increase only the Qty.
        self.$parent.getSelectedItems().forEach((item, index) => {
          if (item.SKU === data.item.SKU) {
            self.$parent.pushSelectedItems(index, 1, {})
            isNew = false
          }
        })
        if (isNew) {
          self.$parent.pushSelectedItems(0, 0, {
            SKU: data.item.SKU,
            Description: data.item.Description,
            Qty: 1,
            Price: data.item.Price,
            Subtotal: data.item.Price * 1,
            Action: '',
            ParentSKU: '',
            childIds: [],
            dealerDiscount: self.$parent.getDiscount(),
            pulled: 0,
            laser_received: 0,
            lasered: 0,
            finished: 0
          })
        }
      }
    },
    onHandleSearchKeys (e) {
      let self = this
      if (e.keyCode === 13 && self.query !== '') {
        self.onSearch()
      }
    },
    onChangeMedallionTableQty (data) {
      let self = this
      self.medalionTempParts.forEach((item, index) => {
        if (item.SKU === data.item.SKU) {
          if (data.item.Qty < 1) {
            self.medalionTempParts[index].Qty = 1
          } else {
            self.medalionTempParts[index].Qty = data.item.Qty
          }
        }
      })
    },
    onChangeMedallionQty () {
      let self = this
      if (self.selectedModalionQty < 1) {
        self.selectedModalionQty = 1
      }
    },
    onClickMedallionRemove (data) {
      let self = this
      self.medalionTempParts.forEach((item, index) => {
        if (item.SKU === data.item.SKU) {
          self.medalionTempParts.splice(index, 1)
        }
      })
    },
    handleMedallionOk () {
      let self = this
      // Update the selectedItems childIds if it has the childs.
      self.medalionTempParts.forEach(medallion => {
        self.$parent.getSelectedItems().forEach((item, index) => {
          if (item.SKU === medallion.ParentSKU) {
            self.$parent.pushSelectedItems(index, 2, medallion.SKU)
          }
        })
      })
      self.medalionTempParts.forEach(medallion => {
        let isNew = true
        // If the searched part has already added, increase only the Qty.
        self.$parent.getSelectedItems().forEach((item, index) => {
          if (item.SKU === medallion.SKU) {
            self.$parent.pushSelectedItems(index, 1, {}, medallion.Qty)
            isNew = false
          }
        })
        if (isNew) {
          self.$parent.pushSelectedItems(0, 0, medallion)
        }
      })
    },
    onAddItem () {
      // Add the medallion to the part if possible
      let self = this
      if (self.selectedModalionParent === '') {
        this.$bvToast.toast('Please select the parent part.', {
          title: 'Warning',
          autoHideDelay: 3000,
          variant: 'warning',
          appendToast: false
        })
      } else if (self.selectedModalionQty < 1) {
        this.$bvToast.toast('Please select the Qty.', {
          title: 'Warning',
          autoHideDelay: 3000,
          variant: 'warning',
          appendToast: false
        })
      } else {
        // If the searched part is not addon part, insert to the selectedItmes directly.
        let isNew = true
        // check if the metallion can add to the selected the part
        if (!self.checkEnableAddon()) {
          this.$bvToast.toast(
            'This medallion can not be added to the part (' +
              self.selectedModalionParent +
              ').',
            {
              title: 'Warning',
              autoHideDelay: 3000,
              variant: 'warning',
              appendToast: false
            }
          )
        } else {
          // If the searched part has already added, increase only the Qty.
          self.medalionTempParts.forEach((item, index) => {
            if (item.ParentSKU === self.selectedModalionParent) {
              self.medalionTempParts[index].Qty += 1
              isNew = false
            }
          })
          if (isNew) {
            self.medalionTempParts.push({
              SKU: self.searchedMedallion.SKU,
              Description:
                self.searchedMedallion.Description +
                ' (' +
                self.selectedModalionParent +
                ')',
              Qty: self.selectedModalionQty,
              Price: self.searchedMedallion.Price,
              Subtotal: self.searchedMedallion.Price * self.selectedModalionQty,
              Action: '',
              ParentSKU: self.selectedModalionParent,
              childIds: [],
              dealerDiscount: self.$parent.getDiscount()
            })
          }
        }
      }
    },
    setWidth (key) {
      if (key === 'SKU') {
        return '30%'
      } else if (key === 'Description') {
        return '40%'
      } else if (key === 'Price') {
        return '10%'
      } else {
        return '20%'
      }
    },
    setWidthMedallion (key) {
      if (key === 'SKU') {
        return '30%'
      } else if (key === 'ParentSKU') {
        return '30%'
      } else if (key === 'Qty') {
        return '10%'
      } else if (key === 'Price') {
        return '10%'
      } else {
        return '10%'
      }
    }
  }
}
</script>
<style scoped>
.mr-sm-2 {
  width: 80% !important;
}

.search-form {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.price {
  width: 100%;
  display: block;
  margin-top: 13px;
}

.item {
  width: 100%;
  display: block;
  margin-top: 6px;
}

.selected-products {
  margin-top: 3rem;
}

.xmark {
  padding-left: 13px;
  display: block;
  padding-top: 6px;
  font-size: 17px;
}

.xmark:hover {
  transform: rotate(90deg);
  transition: 0.25s ease;
}

.xmark:not(:hover) {
  transform: rotate(-90deg);
  transition: 0.25s ease;
}

::v-deep .xmark.btn:focus,
.xmark.btn.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 0%);
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 0%);
}

.red {
  color: red;
}

.label {
  float: right;
}

h3.label {
  margin-top: 1rem;
}

.total-price {
  margin-top: 3rem;
}

.center {
  text-align: center;
}

.medallion-btn {
  margin-top: 2rem !important;
}

.medallion-qty {
  width: 35%;
}

.flex-items {
  display: flex;
}

.medallion-parent {
  margin-left: 7.3%;
}

.medallion-table {
  margin-top: 3rem;
}

.title {
  margin-top: 2rem;
}
</style>
